.row:nth-child(4) {
    margin-top: 15px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
    text-align: left !important;
}

.info-box {
    box-shadow:
        0 0 1px rgb(0 0 0 / 13%),
        0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}

.select2 .select2-selection__rendered {
    margin: 0px 4px !important;
}

.info-box .info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.bg-purple,
.bg-purple > a {
    color: #fff !important;
}

textarea[name='noteText'],
textarea[name='editNoteText'] {
    background-color: #ffefbb;
}

.color-box {
    border: none;
}

input[type='radio']:checked + label .color-box {
    border: 2px solid #dcdbdb;
    border-radius: 4px;
}

.bg-purple {
    background-color: #6f42c1 !important;
}

.bg-warning,
.bg-warning > a {
    color: #1f2d3d !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.info-box .info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.8;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
}

.info-box .info-box-number {
    display: block;
    margin-top: 0.25rem;
    font-weight: 700;
}

.info-box .info-box-text,
.info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.callout.callout-info {
    border-left-color: #117a8b;
}

.callout {
    border-radius: 0.25rem;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    border-left: 5px solid #e9ecef;
    border-left-color: rgb(233, 236, 239);
    margin-bottom: 1rem;
    padding: 1rem;
}

.callout p:last-child {
    margin-bottom: 0;
}

.card-primary.card-outline {
    border-top: 3px solid #007bff;
}

.card {
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.125),
        0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
    position: relative;
}

.dept-font,
#departments a.nav-link {
    font-size: 13px !important;
    font-weight: normal;
}

.folders {
    margin-bottom: 10px;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    color: #000;
    font-weight: 400;
    margin: 0;
}

.badge {
    color: #fff;
}

.bg-success,
.bg-danger {
    color: #fff;
}

.card-header::after {
    content: '';
    display: table;
    clear: both;
}

.inherit-class {
    display: inherit;
    font-family: inherit;
    font-size: inherit;
    white-space: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit !important;
    margin-top: -5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}

.link {
    color: #0056b3 !important;
    text-decoration: underline !important;
}

.link:hover,
span#display_desc a:hover {
    color: #0078f8 !important;
}

.info-box {
    box-shadow:
        0 0 1px rgb(0 0 0 / 13%),
        0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}

.info-box .info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.tag {
    display: inline-block;
    background-color: #fffdfd;
    border: 1px solid #ccc;
    padding: 0px 5px;
    margin: 2px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 11px;
}

.tag .fa-close {
    cursor: pointer;
    margin-left: 6px;
}

.highlight {
    font-weight: bold;
}

.search-result {
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.search-result:hover {
    background-color: #ececec;
}

.card-header > .card-tools {
    float: right;
    margin-right: -0.625rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.form-group {
    margin-bottom: 1rem;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.form-control.select2-hidden-accessible {
    position: absolute !important;
    width: 1px !important;
}

.select2 {
    width: 100% !important;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.text-center {
    text-align: center !important;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.text-orange {
    color: #fd7e14 !important;
}

.help-text {
    font-size: 1rem;
}

.card-success.card-outline {
    border-top: 3px solid #28a745;
}

.card-widget {
    border: 0;
    position: relative;
}

.card-comments {
    font-size: 14px !important;
}

.card-comments .card-comment:first-of-type {
    padding-top: 0;
}

.card-comments .card-comment {
    border-bottom: 1px solid #e9ecef;
    padding: 8px 0;
}

.card-comments .comment-text {
    color: #78838e;
}

.card-comments .username {
    color: #495057;
    display: block;
    font-weight: bold;
}

.b-radius {
    border-radius: 0.35rem !important;
}

.bg-green,
.bg-green > a {
    color: #fff !important;
}

.bg-green {
    background-color: #28a745 !important;
}

.text-xs {
    font-size: 0.75rem !important;
}

.card-comments .text-muted {
    font-size: 12px;
    font-weight: 400;
}

div.inherit-class {
    color: #212529;
    padding: 0.75rem;
    font-size: 14px !important;
}

@media only screen and (max-width: 767px) {
    .username .text-muted {
        font-size: 12px !important;
    }
}

.toolbar {
    position: absolute;
    top: -30px;
    left: 15px;
    display: flex;
    gap: 5px;
}
.toolbar button {
    background: #fff;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 5px !important;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toolbar button:hover {
    background-color: #ccc;
    color: #000 !important;
}

.img-preview-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.img-attachment {
    width: 110px !important;
    height: 100 !important;
    object-fit: contain !important;
}
.post-attachments {
    display: inline-block;
}
.img-preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.img-preview-container:hover .img-preview-overlay {
    display: block;
}

.buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.buttons button,
.buttons a {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: #fff !important;
}

.file-input {
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
}

.file-input:hover {
    background-color: #f9f9f9;
}

.file-input input {
    display: none;
}

.pdf-icon i {
    font-size: 80px;
    width: 80px;
}

.file-label {
    padding: 20px;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    color: #888;
}

.file-preview {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0.5rem !important;
}

.file-grid {
    display: grid;
    grid-gap: 10px;
}

.file-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.file-img {
    width: 60px;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
}

.category-list {
    height: 350px;
    overflow-y: scroll;
    border: 3px solid #e8e8e8;
    border-radius: 8px;
}

#macroCatDiv {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#macroCatDiv.visible {
    max-height: 400px;
}

.input-group .input-group-append .btn {
    height: 100%;
}

.input-group .input-group-append .btn i {
    font-size: 15px;
}

.list-group-item {
    font-size: 13px;
    cursor: pointer;
}

.reply-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 12px #0000003d;
}

.reply-item p {
    margin: 0;
    font-size: 13px;
}

.reply-item button {
    font-size: 13px;
}
#scrollToTop {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 70px;
    z-index: 99;
    cursor: pointer;
    border-radius: 10px;
    transition:
        background-color 0.3s,
        opacity 0.3s;
}

#collapseSidebar {
    position: absolute;
    top: 772px;
    z-index: 9999;
    left: 0px;
    border: 2px solid #626262;
    padding: 4px 10px;
    border-radius: 8px;
}

#sidebar.collapsed #collapseSidebar {
    display: block;
}

#collapseNotes {
    position: absolute;
    top: 772px;
    z-index: 9999;
    right: 0px;
    border: 2px solid #626262;
    padding: 4px 10px;
    border-radius: 8px;
}

#sidebar.collapsed #collapseNotes {
    display: block;
}

.col-md-9.tickets {
    padding-left: 30px !important;
}
.inherit-class a {
    color: #008df5;
    text-decoration: underline;
}
