openapi: 3.0.3
info:
    title: my InterServer Services Management API
    version: 0.9.0
    description: >
        **Introducing the InterServers myadmin Host Management API – Your Gateway to Seamless Service
        Management**


        # Overview


        InterServers is thrilled to present the myadmin Host Management API, a cutting-edge solution designed
        to simplify and streamline the management of our comprehensive range of services. Whether you're in
        need of [dedicated server hosting](), [web hosting](), [VPS hosting](), [backups](), [domain
        registrations](), [Mail Delivery services](), or our innovative hybrid VPS-bare metal product [Rapid
        Deploy Servers](), our API offers a user-friendly and efficient approach to managing your services.


        With the myadmin Host Management API, you can now harness the power of modern [REST]() and
        [WebSocket]() interfaces to effortlessly maintain and control your InterServers services. Say goodbye
        to complex and time-consuming manual configurations – our API empowers you to execute a wide range of
        operations with simple, easy-to-use calls, ensuring that service management becomes a hassle-free
        experience.


        One of the standout features of the myadmin Host Management API is its extensive language support. We
        have [code samples]() available in every modern programming language, allowing developers to quickly
        integrate our API into their existing systems. Whether you prefer [Python](), [JavaScript](),
        [Ruby](), [PHP](), or any other language, we have you covered. Our goal is to ensure that you can
        seamlessly integrate and automate your InterServers services, regardless of your preferred programming
        language.


        To further enhance the user xperience, we offer interactive [documentation]() that makes it a breeze
        to navigate and understand the myadmin Host Management API. Our comprehensive documentation provides
        detailed explanations, along with interactive code examples, giving you a hands-on approach to
        learning and implementing the API's functionalities. Whether you're a seasoned developer or just
        starting your journey, our user-friendly documentation will be your go-to resource for all your
        service management needs.


        The myadmin Host Management API from InterServers revolutionizes the way you manage your dedicated
        server hosting, web hosting, VPS hosting, backups, domain registrations, Mail Delivery services, and
        Rapid Deploy Servers. It empowers you with a straightforward, intuitive interface, enabling you to
        perform complex tasks effortlessly. Take full control of your services with ease, thanks to our modern
        REST and WebSocket interfaces, and unlock a new level of efficiency and productivity.


        Experience the power of the myadmin Host Management API today and enjoy seamless service management at
        your fingertips. Trust InterServers to deliver unparalleled convenience and reliability as we continue
        to pave the way for the future of hosting and datacenter solutions.


        # Authentication


        In order to use most of the API calls you must pass credentials from the
        [my.interserver.net](https://my.interserver.net/) site.


        We support several different authentication methods but the preferred method is to use the **API Key**
        which you can get from the [Account Security](https://my.interserver.net/account_security) page.
    termsOfService: 'https://www.interserver.net/terms-of-service.html'
    contact:
        name: InterServer Support Staff
        url: 'https://www.interserver.net/contact-us.html'
        email: support@interserver.net
    license:
        name: Proprietary
servers:
    -
        url: 'https://mystage.interserver.net'
        description: Development API Endpoint
    -
        url: 'https://my.interserver.net'
        description: Live API Endpoint
    -
        url: 'https://virtserver.swaggerhub.com/InterServer/MyAPI/0.9.0'
        description: SwaggerHub API Auto Mocking
paths:
    /ping:
        get:
            tags:
                - public
            responses:
                '200':
                    description: Server is up and running
                default:
                    description: Something is wrong
            security:
                - {}
            operationId: pingServer
            summary: Checks if the server is running
            description: Performs a single ping/pong request to let you know if the server is up.
    /login:
        summary: Log In to the system and create a session.
        description: Submit your login credentials to generate a session id which can be used for validating requests.
        get:
            tags:
                - public
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/LoginInfo'
                            examples:
                                LoginInfoExample:
                                    value:
                                        logo: //mystage.interserver.net/images/logos/mystaging.png
                                        captcha: 'data:image/jpeg;base64,/9j/'
                                        language: en-US
                                        counts:
                                            vps: 290201
                                            websites: 205172
                                            servers: 27940
                    description: Various pieces of information useful for rendering a login page.
                default:
                    description: Default response
            security:
                - {}
            operationId: getLoginInfo
            summary: Get Login Info
            description: Gets the various pieces of information useful for generating a login page.
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginSubmissionExample'
                        examples:
                            LoginSubmissionExampleExample:
                                value:
                                    login: user@domain.com
                                    passwd: mypassword
                                    remember: 'true'
                                    g-recaptcha-response:
                                        __v_isShallow: false
                                        dep:
                                            w: 0
                                            'n': 0
                                        __v_isRef: true
                                        _rawValue: zzzzz
                                        _value: zzzzz
            tags:
                - public
            responses:
                default:
                    description: Default response
            security:
                - {}
            operationId: submitLogin
            summary: Submit Login Information
            description: Tries to authenticate without system using the provided login credentials.
    /signup:
        post:
            tags:
                - public
            responses:
                default:
                    description: Default response
            security:
                - {}
            operationId: submitSignup
            summary: Submit Signup Information
            description: Creates a new account in our system using the provided information.
    /captcha:
        get:
            tags:
                - public
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CaptchaResponse'
                            examples:
                                CaptchaResponseExample:
                                    value:
                                        captcha: 'data:image/jpeg;base64,/9j/4AAQ'
                    description: >-
                        An array containing a `captcha` field containing a string with a base64 encoded
                        captcha image.
                default:
                    description: Default response
            security:
                - {}
            operationId: getCaptcha
            summary: Retrieve the data to render a captcha image.
            description: Retrieves the information so you can render a captcha check
    /home:
        get:
            tags:
                - account
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Home'
                    description: Genreal information for use on the home page.
                default:
                    description: Default response
            operationId: getHome
            summary: ''
            description: >-
                Retrieves a general assortment of information useful for displaying a home page / dashboard
                overview.
    /account:
        summary: User Account Information and Management.
        description: 'Manage your various user details like contact information, account security, and related features.'
        get:
            tags:
                - account
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AccountInfo'
                    description: Your account information.
                default:
                    description: Default response
            operationId: getAccountInfo
            summary: Get the account information.
            description: Retrieves your account information including contact information and billing setup.
        post:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountInfo
            summary: ''
            description: >-
                Updates the stored contact and billing information we have in our system with the provided
                data.
    /account/2fa:
        post:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountTfa
            summary: ''
            description: ''
    /account/apikey:
        post:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountApiKey
            summary: ''
            description: ''
    /account/creditcards:
        post:
            tags:
                - account
                - billing
            responses:
                default:
                    description: Default response
            operationId: addAccountCreditCard
            summary: ''
            description: ''
    /account/features:
        post:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountFeatures
            summary: ''
            description: ''
    /account/iplimits:
        post:
            requestBody:
                description: The lower and upper bounds of an ip range.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IpLimitRange'
                        examples:
                            IpLimitRangeJsonExample:
                                value:
                                    start: 1.2.3.0
                                    end: 1.2.3.255
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/IpLimitRange'
                        examples:
                            IpLimitRangeFormExample:
                                value:
                                    start: 1.2.3.0
                                    end: 1.2.3.255
                required: true
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountIpLimits
            summary: Add an IP range into the IP Limiting IP ranges.
            description: ''
        patch:
            requestBody:
                content:
                    application/json: {}
            tags:
                - account
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GenericResponse'
                    description: IP Range removed.
            operationId: deleteIpLimit
            summary: Delete an IP Limit Range
            description: This will remove an IP range from the ranges of IPs for limiting your account to specific IPs.
    /account/oauth:
        delete:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: deleteAccountOauth
            summary: ''
            description: ''
    /account/password:
        post:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountPassword
            summary: ''
            description: ''
    /account/settings:
        get:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: getAccountSettings
            summary: ''
            description: ''
        post:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountSettings
            summary: ''
            description: ''
    /account/sshkey:
        post:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: updateAccountSshKey
            summary: ''
            description: ''
    /billing/cart:
        get:
            tags:
                - account
                - billing
            responses:
                default:
                    description: Default response
            operationId: getBillingCart
            summary: ''
            description: ''
    /billing/prepays:
        get:
            tags:
                - billing
            responses:
                default:
                    description: Default response
            operationId: getBillingPrePays
            summary: ''
            description: ''
    '/dns/{id}':
        summary: DNS Domain Management
        description: View and manage a domain and the records for it.
        get:
            tags:
                - dns
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/DnsRecord'
                            examples:
                                DnsRecordExample:
                                    value:
                                        -
                                            id: '473'
                                            domain_id: '68'
                                            name: hussfamily.com
                                            type: NS
                                            content: cdns1.interserver.net
                                            ttl: '86400'
                                            prio: '0'
                                            disabled: '0'
                                            ordername: ''
                                            auth: '1'
                                        -
                                            id: '474'
                                            domain_id: '68'
                                            name: hussfamily.com
                                            type: NS
                                            content: cdns2.interserver.net
                                            ttl: '86400'
                                            prio: '0'
                                            disabled: '0'
                                            ordername: ''
                                            auth: '1'
                                        -
                                            id: '475'
                                            domain_id: '68'
                                            name: hussfamily.com
                                            type: A
                                            content: 64.20.35.186
                                            ttl: '86400'
                                            prio: '0'
                                            disabled: '0'
                                            ordername: ''
                                            auth: '1'
                    description: The dns records for a given domain.
                default:
                    description: Default response
            operationId: getDnsDomain
            summary: Gets the DNS Records for a domain.
            description: Returns a list of all of the dns records.
        post:
            tags:
                - dns
            responses:
                '200':
                    description: Add DNS Domain Response
            operationId: updateDnsDomain
            summary: Add DNS Domain
            description: Creates a new Domain on the DNS Servers.
        delete:
            tags:
                - dns
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: deleteDnsDomain
            summary: Delete a DNS Domain
            description: Deletes a domain from the DNS servers.
        parameters:
            -
                name: id
                description: The DNS Domain ID.
                schema:
                    type: integer
                in: path
                required: true
    /tickets:
        get:
            tags:
                - tickets
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Tickets'
                            examples:
                                TicketsExample:
                                    value:
                                        ima: client
                                        custid: '223513'
                                        view: Open
                                        currentPage: 1
                                        limit: 50
                                        sortcol: 6
                                        sortdir: 1
                                        rowsOffset: 0
                                        tickets: []
                                        pages: 7
                                        rowsTotal: 311
                                        inboxCount: 311
                                        countArray:
                                            Open: 3
                                            On Hold: 3
                                            Closed: 305
                                        viewText: Inbox
                    description: The listing of support tickets.
                default:
                    description: Default response
            operationId: getTicketsList
            summary: ''
            description: ''
    /tickets/new:
        get:
            tags:
                - tickets
            responses:
                default:
                    description: Default response
            operationId: getNewTicket
            summary: ''
            description: ''
        post:
            tags:
                - tickets
            responses:
                default:
                    description: Default response
            operationId: addNewTicket
            summary: ''
            description: ''
    '/tickets/{id}':
        get:
            tags:
                - tickets
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: getTicketInfo
            summary: ''
            description: ''
        post:
            tags:
                - tickets
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateTicketInfo
            summary: ''
            description: ''
    /backups:
        get:
            tags:
                - backups
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/BackupRow'
                    description: The listing of `Backups` services on your account.
                default:
                    description: Default response
            operationId: getBackupsList
            summary: ''
            description: ''
    /backups/order:
        get:
            tags:
                - backups
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BackupsOrder'
                    description: Information needed to generate an order form.
                default:
                    description: Default response
            operationId: getNewBackup
            summary: ''
            description: ''
        put:
            tags:
                - backups
            responses:
                '200':
                    description: Validate Backup Order Response
            operationId: putBackups
            summary: ''
            description: ''
        post:
            tags:
                - backups
            responses:
                default:
                    description: Default response
            operationId: addBackup
            summary: ''
            description: ''
    /domains:
        get:
            tags:
                - domains
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/DomainRow'
                            examples:
                                DomainsExample:
                                    value:
                                        -
                                            domain_id: '418295'
                                            domain_hostname: unixsrv10.com
                                            domain_expire_date: ''
                                            cost: '11.00'
                                            domain_status: canceled
                                        -
                                            domain_id: '592337'
                                            domain_hostname: detain.dev
                                            domain_expire_date: '2023-08-14T00:59:38.000Z'
                                            cost: '18.00'
                                            domain_status: active
                    description: The listing of `Domains` services on your account.
                default:
                    description: Default response
            operationId: getDomainsList
            summary: ''
            description: ''
    /domains/order:
        get:
            tags:
                - domains
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DomainOrder'
                    description: Domain registration order information.
                default:
                    description: Default response
            operationId: getNewDomain
            summary: ''
            description: ''
        put:
            tags:
                - domains
            responses:
                '200':
                    description: Validate Domain Order response
            operationId: putDomains
            summary: ''
            description: ''
        post:
            tags:
                - domains
            responses:
                default:
                    description: Default response
            operationId: addDomain
            summary: ''
            description: ''
        patch:
            tags:
                - domains
            responses:
                '200':
                    description: Validate Domain order response
            operationId: patchDomains
            summary: ''
            description: ''
    /licenses:
        get:
            tags:
                - licenses
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/LicenseRow'
                    description: The listing of `Licenses` services on your account.
                default:
                    description: Default response
            operationId: getLicenseList
            summary: ''
            description: ''
    /licenses/order:
        get:
            tags:
                - licenses
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/LicensesOrder'
                    description: License ordering information.
                default:
                    description: Default response
            operationId: getNewLicense
            summary: ''
            description: ''
        put:
            tags:
                - licenses
            responses:
                '200':
                    description: Validate Licenses order response
            operationId: putLicenses
            summary: ''
            description: ''
        post:
            tags:
                - licenses
            responses:
                default:
                    description: Default response
            operationId: addLicense
            summary: ''
            description: ''
    /mail:
        get:
            tags:
                - mail
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/MailRow'
                    description: The listing of `Mail` services on your account.
                default:
                    description: Default response
            operationId: getMailList
            summary: ''
            description: ''
    /mail/order:
        get:
            tags:
                - mail
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MailOrder'
                    description: Mail ordering information.
                default:
                    description: Default response
            operationId: getNewMail
            summary: ''
            description: ''
        put:
            tags:
                - mail
            responses:
                '200':
                    description: Validate Mail order response.
            operationId: putMail
            summary: ''
            description: ''
        post:
            tags:
                - mail
            responses:
                default:
                    description: Default response
            operationId: addMail
            summary: ''
            description: ''
    /qs:
        get:
            tags:
                - quickservers
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/QuickserverRow'
                    description: The listing of `Quickservers` services on your account.
                default:
                    description: Default response
            operationId: getQsList
            summary: ''
            description: ''
    /qs/order:
        get:
            tags:
                - quickservers
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/QuickserverOrder'
                    description: Quickserver Ordering information.
                default:
                    description: Default response
            operationId: getNewQs
            summary: ''
            description: ''
        put:
            tags:
                - qs
            responses:
                '200':
                    description: Validate QuickServer Order response
            operationId: putQs
            summary: ''
            description: ''
        post:
            tags:
                - quickservers
            responses:
                default:
                    description: Default response
            operationId: addQs
            summary: ''
            description: ''
    /servers:
        get:
            tags:
                - servers
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/ServerRow'
                    description: The listing of `Servers` services on your account.
                default:
                    description: Default response
            operationId: getServerList
            summary: ''
            description: ''
    /servers/order:
        get:
            tags:
                - servers
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ServerOrder'
                    description: Server Ordering details
                default:
                    description: Default response
            operationId: getNewServer
            summary: ''
            description: ''
        put:
            tags:
                - servers
            responses:
                '200':
                    description: Validate Server order response
            operationId: putServers
            summary: ''
            description: ''
        post:
            tags:
                - servers
            responses:
                default:
                    description: Default response
            operationId: addServer
            summary: ''
            description: ''
    /ssl:
        get:
            tags:
                - ssl
            responses:
                '200':
                    description: The listing of `SSL` services on your account.
                default:
                    description: Default response
            operationId: getSslList
            summary: ''
            description: ''
    /ssl/order:
        get:
            tags:
                - ssl
            responses:
                default:
                    description: Default response
            operationId: getNewSsl
            summary: ''
            description: ''
        put:
            tags:
                - ssl
            responses:
                '200':
                    description: Validate SSL Order response
            operationId: putSsl
            summary: ''
            description: ''
        post:
            tags:
                - ssl
            responses:
                default:
                    description: Default response
            operationId: addSsl
            summary: ''
            description: ''
    /vps:
        get:
            tags:
                - vps
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/VpsRow'
                    description: The listing of `Vps` services on your account.
                default:
                    description: Default response
            operationId: getVpsList
            summary: ''
            description: ''
    /vps/order:
        get:
            tags:
                - vps
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VpsOrder'
                    description: VPS Order information
                default:
                    description: Default response
            operationId: getNewVps
            summary: ''
            description: ''
        put:
            tags:
                - vps
            responses:
                '200':
                    description: Validate VPS order response.
            operationId: putVps
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                default:
                    description: Default response
            operationId: addVps
            summary: ''
            description: ''
    '/vps/{id}':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: VPS ID number
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Vps'
                    description: The VPS Information
                default:
                    description: Default response
            operationId: getVpsInfo
            summary: ''
            description: ''
        post:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateVpsInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    /websites:
        get:
            tags:
                - webhosting
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/WebsiteRow'
                        multipart/form-data:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/WebsiteRow'
                    description: The listing of `Websites` services on your account.
                default:
                    description: Default response
            operationId: getWebsiteList
            summary: Get Website Listing
            description: Gets a listing of your webhosting orders and service details.
    /websites/order:
        get:
            tags:
                - webhosting
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WebsitesOrder'
                    description: Website Ordering details
                default:
                    description: Default response
            operationId: getNewWebsite
            summary: ''
            description: ''
        put:
            tags:
                - websites
            responses:
                '200':
                    description: Validate Website order response
            operationId: putWebsites
            summary: ''
            description: ''
        post:
            tags:
                - webhosting
            responses:
                default:
                    description: Default response
            operationId: addWebsite
            summary: ''
            description: ''
    /invoices:
        get:
            tags:
                - billing
            parameters:
                -
                    name: searchString
                    description: pass an optional search string for looking up inventory
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: skip
                    description: number of records to skip for pagination
                    schema:
                        format: int32
                        minimum: 0
                        type: integer
                    in: query
                -
                    name: limit
                    description: maximum number of records to return
                    schema:
                        format: int32
                        maximum: 50
                        minimum: 0
                        type: integer
                    in: query
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Invoice'
                    description: search results matching criteria
                '400':
                    description: bad input parameter
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/Unauthorized'
            operationId: getInvoices
            summary: Get User Invoices
            description: >-
                The "Get User Invoices" API endpoint allows users to retrieve a list of their invoices. By
                making a GET request to this endpoint, users can access their individual invoice information,
                including details such as invoice number, date, amount, and paid status.
    /info:
        get:
            tags:
                - public
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ServicesInfo'
                            examples:
                                InfoExample:
                                    value:
                                        modules:
                                            domains:
                                                SERVICE_ID_OFFSET: 10000
                                                USE_REPEAT_INVOICE: true
                                                USE_PACKAGES: true
                                                BILLING_DAYS_OFFSET: 45
                                                IMGNAME: domain.png
                                                REPEAT_BILLING_METHOD: 2
                                                DELETE_PENDING_DAYS: 45
                                                SUSPEND_DAYS: 14
                                                SUSPEND_WARNING_DAYS: 7
                                                TITLE: Domain Registrations
                                                MENUNAME: Domains
                                                EMAIL_FROM: support@interserver.net
                                                TBLNAME: Domains
                                                TABLE: domains
                                                TITLE_FIELD: domain_hostname
                                                PREFIX: domain
                                            vps:
                                                SERVICE_ID_OFFSET: 0
                                                USE_REPEAT_INVOICE: true
                                                USE_PACKAGES: true
                                                BILLING_DAYS_OFFSET: 0
                                                IMGNAME: root-server.png
                                                REPEAT_BILLING_METHOD: 2
                                                DELETE_PENDING_DAYS: 45
                                                SUSPEND_DAYS: 14
                                                SUSPEND_WARNING_DAYS: 7
                                                TITLE: VPS
                                                MENUNAME: VPS
                                                EMAIL_FROM: support@interserver.net
                                                TBLNAME: VPS
                                                TABLE: vps
                                                TITLE_FIELD: vps_hostname
                                                TITLE_FIELD2: vps_ip
                                                TITLE_FIELD3: vps_vzid
                                                PREFIX: vps
                                        services:
                                            '31':
                                                services_id: 31
                                                services_name: OpenVZ VPS Slice
                                                services_cost: 6
                                                services_currency: USD
                                                services_category: 1
                                                services_buyable: true
                                                services_type: 6
                                                services_field1: slice
                                                services_field2: ''
                                                services_module: vps
                                            '32':
                                                services_id: 32
                                                services_name: KVM Windows VPS Slice
                                                services_cost: 10
                                                services_currency: USD
                                                services_category: 2
                                                services_buyable: true
                                                services_type: 1
                                                services_field1: slice
                                                services_field2: ''
                                                services_module: vps
                                        serviceTypes:
                                            '1':
                                                st_id: 1
                                                st_name: KVM Windows
                                                st_category: 2
                                                st_module: vps
                                            '2':
                                                st_id: 2
                                                st_name: KVM Linux
                                                st_category: 2
                                                st_module: vps
                                            '3':
                                                st_id: 3
                                                st_name: Cloud KVM Windows
                                                st_category: 3
                                                st_module: vps
                                        serviceCategories:
                                            '1':
                                                category_id: 1
                                                category_name: OpenVZ Virtual Servers
                                                category_tag: openvz
                                                category_module: vps
                                            '2':
                                                category_id: 2
                                                category_name: KVM Virtual Servers
                                                category_tag: kvm
                                                category_module: vps
                                            '3':
                                                category_id: 3
                                                category_name: Xen Virtual Servers
                                                category_tag: xen
                                                category_module: vps
                    description: The modules and services information from the server.
            security:
                - {}
            operationId: getInfo
            summary: Gets info about the modules and packages on the server.
            description: >-
                Retrieves information about the modules on the server, the service packages, thier categories
                and types.
    '/dns/{id}/{recordId}':
        summary: DNS Record Management
        description: Manage a DNS Record for the given Domain.
        post:
            requestBody:
                description: The request data to update a dns record.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DnsUpdateRecord'
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/DnsUpdateRecord'
                required: true
            tags:
                - dns
            parameters:
                -
                    name: recordId
                    description: The domain record ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
                -
                    name: id
                    description: The domain ID number
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateDnsRecord
            summary: Update DNS Record
            description: Updates a DNS record with the supplied information.
        delete:
            tags:
                - dns
            parameters:
                -
                    name: recordId
                    description: The domain record ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
                -
                    name: id
                    description: The domain ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: deleteDnsRecord
            summary: Delete DNS Record
            description: Removes a DNS Record from the specified domain.
        parameters:
            -
                name: id
                description: The Domain ID number.
                schema:
                    type: integer
                in: path
                required: true
            -
                name: recordId
                description: The Record ID number for the given domain.
                schema:
                    type: integer
                in: path
                required: true
    /account/countries:
        get:
            tags:
                - account
                - public
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties:
                                    type: array
                                    items:
                                        type: string
                            examples:
                                AccountCountriesExample:
                                    value:
                                        AF: Afghanistan
                                        AX: Aland Islands
                                        AL: Albania
                                        DZ: Algeria
                                        AS: American Samoa
                                        AD: Andorra
                                        AO: Angola
                                        AI: Anguilla
                                        AQ: Antarctica
                                        AG: Antigua and Barbuda
                                        AR: Argentina
                                        AM: Armenia
                                        AW: Aruba
                                        AU: Australia
                                        AT: Austria
                                        AZ: Azerbaijan
                                        BS: Bahamas
                                        BH: Bahrain
                                        BD: Bangladesh
                                        BB: Barbados
                                        BY: Belarus
                                        BE: Belgium
                                        BZ: Belize
                                        BJ: Benin
                                        BM: Bermuda
                                        BT: Bhutan
                                        BO: Bolivia
                                        BQ: 'Bonaire, Sint Eustatius and Saba'
                                        BA: Bosnia and Herzegovina
                                        BW: Botswana
                                        BV: Bouvet Island
                                        BR: Brazil
                                        IO: British Indian Ocean Territory
                                        BN: Brunei
                                        BG: Bulgaria
                                        BF: Burkina Faso
                                        BI: Burundi
                                        KH: Cambodia
                                        CM: Cameroon
                                        CA: Canada
                                        CV: Cape Verde
                                        KY: Cayman Islands
                                        CF: Central African Republic
                                        TD: Chad
                                        CL: Chile
                                        CN: China
                                        CX: Christmas Island
                                        CC: Cocos (Keeling) Islands
                                        CO: Colombia
                                        KM: Comoros
                                        CG: Congo
                                        CK: Cook Islands
                                        CR: Costa Rica
                                        CI: Cote d'ivoire (Ivory Coast)
                                        HR: Croatia
                                        CW: Curacao
                                        CY: Cyprus
                                        CZ: Czech Republic
                                        CD: Democratic Republic of the Congo
                                        DK: Denmark
                                        DJ: Djibouti
                                        DM: Dominica
                                        DO: Dominican Republic
                                        EC: Ecuador
                                        EG: Egypt
                                        SV: El Salvador
                                        GQ: Equatorial Guinea
                                        ER: Eritrea
                                        EE: Estonia
                                        ET: Ethiopia
                                        FK: Falkland Islands (Malvinas)
                                        FO: Faroe Islands
                                        FJ: Fiji
                                        FI: Finland
                                        FR: France
                                        GF: French Guiana
                                        PF: French Polynesia
                                        TF: French Southern Territories
                                        GA: Gabon
                                        GM: Gambia
                                        GE: Georgia
                                        DE: Germany
                                        GH: Ghana
                                        GI: Gibraltar
                                        GR: Greece
                                        GL: Greenland
                                        GD: Grenada
                                        GP: Guadaloupe
                                        GU: Guam
                                        GT: Guatemala
                                        GG: Guernsey
                                        GN: Guinea
                                        GW: Guinea-Bissau
                                        GY: Guyana
                                        HT: Haiti
                                        HM: Heard Island and McDonald Islands
                                        HN: Honduras
                                        HK: Hong Kong
                                        HU: Hungary
                                        IS: Iceland
                                        IN: India
                                        ID: Indonesia
                                        IQ: Iraq
                                        IE: Ireland
                                        IM: Isle of Man
                                        IL: Israel
                                        IT: Italy
                                        JM: Jamaica
                                        JP: Japan
                                        JE: Jersey
                                        JO: Jordan
                                        KZ: Kazakhstan
                                        KE: Kenya
                                        KI: Kiribati
                                        XK: Kosovo
                                        KW: Kuwait
                                        KG: Kyrgyzstan
                                        LA: Laos
                                        LV: Latvia
                                        LB: Lebanon
                                        LS: Lesotho
                                        LR: Liberia
                                        LY: Libya
                                        LI: Liechtenstein
                                        LT: Lithuania
                                        LU: Luxembourg
                                        MO: Macao
                                        MK: Macedonia
                                        MG: Madagascar
                                        MW: Malawi
                                        MY: Malaysia
                                        MV: Maldives
                                        ML: Mali
                                        MT: Malta
                                        MH: Marshall Islands
                                        MQ: Martinique
                                        MR: Mauritania
                                        MU: Mauritius
                                        YT: Mayotte
                                        MX: Mexico
                                        FM: Micronesia
                                        MD: Moldova
                                        MC: Monaco
                                        MN: Mongolia
                                        ME: Montenegro
                                        MS: Montserrat
                                        MA: Morocco
                                        MZ: Mozambique
                                        MM: Myanmar (Burma)
                                        NA: Namibia
                                        NR: Nauru
                                        NP: Nepal
                                        NL: Netherlands
                                        NC: New Caledonia
                                        NZ: New Zealand
                                        NI: Nicaragua
                                        NE: Niger
                                        NG: Nigeria
                                        NU: Niue
                                        NF: Norfolk Island
                                        MP: Northern Mariana Islands
                                        'NO': Norway
                                        OM: Oman
                                        PK: Pakistan
                                        PW: Palau
                                        PS: Palestine
                                        PA: Panama
                                        PG: Papua New Guinea
                                        PY: Paraguay
                                        PE: Peru
                                        PH: Philippines
                                        PN: Pitcairn
                                        PL: Poland
                                        PT: Portugal
                                        PR: Puerto Rico
                                        QA: Qatar
                                        RE: Reunion
                                        RO: Romania
                                        RU: Russia
                                        RW: Rwanda
                                        BL: Saint Barthelemy
                                        SH: Saint Helena
                                        KN: Saint Kitts and Nevis
                                        LC: Saint Lucia
                                        MF: Saint Martin
                                        PM: Saint Pierre and Miquelon
                                        VC: Saint Vincent and the Grenadines
                                        WS: Samoa
                                        SM: San Marino
                                        ST: Sao Tome and Principe
                                        SA: Saudi Arabia
                                        SN: Senegal
                                        RS: Serbia
                                        SC: Seychelles
                                        SL: Sierra Leone
                                        SG: Singapore
                                        SX: Sint Maarten
                                        SK: Slovakia
                                        SI: Slovenia
                                        SB: Solomon Islands
                                        SO: Somalia
                                        ZA: South Africa
                                        GS: South Georgia and the South Sandwich Islands
                                        KR: South Korea
                                        SS: South Sudan
                                        ES: Spain
                                        LK: Sri Lanka
                                        SR: Suriname
                                        SJ: Svalbard and Jan Mayen
                                        SZ: Swaziland
                                        SE: Sweden
                                        CH: Switzerland
                                        TW: Taiwan
                                        TJ: Tajikistan
                                        TZ: Tanzania
                                        TH: Thailand
                                        TL: Timor-Leste (East Timor)
                                        TG: Togo
                                        TK: Tokelau
                                        TO: Tonga
                                        TT: Trinidad and Tobago
                                        TN: Tunisia
                                        TR: Turkey
                                        TM: Turkmenistan
                                        TC: Turks and Caicos Islands
                                        TV: Tuvalu
                                        UG: Uganda
                                        UA: Ukraine
                                        AE: United Arab Emirates
                                        GB: United Kingdom
                                        US: United States
                                        UM: United States Minor Outlying Islands
                                        UY: Uruguay
                                        UZ: Uzbekistan
                                        VU: Vanuatu
                                        VA: Vatican City
                                        VE: Venezuela
                                        VN: Vietnam
                                        VG: 'Virgin Islands, British'
                                        VI: 'Virgin Islands, US'
                                        WF: Wallis and Futuna
                                        EH: Western Sahara
                                        YE: Yemen
                                        ZM: Zambia
                                        ZW: Zimbabwe
                    description: The list of countries with both 2 letter abbreviations and the country names.
                default:
                    description: Default response
            security:
                - {}
            operationId: getCountries
            summary: ''
            description: ''
    '/backups/{id}':
        get:
            tags:
                - backups
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Backup'
                    description: The Backup Information
                default:
                    description: Default response
            operationId: getBackupInfo
            summary: ''
            description: ''
        post:
            tags:
                - backups
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateBackupInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: Backup ID number
                schema:
                    type: integer
                in: path
                required: true
    /dns:
        summary: DNS Management
        description: View and manage your DNS domains and records
        get:
            tags:
                - dns
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/DnsListItem'
                            examples:
                                DnsListExample:
                                    value:
                                        -
                                            id: '68'
                                            name: hussfamily.com
                                            content: 64.20.35.186
                                        -
                                            id: '1658'
                                            name: detain.interserver.net
                                            content: 66.45.228.74
                                        -
                                            id: '1659'
                                            name: creation.interserver.net
                                            content: 66.23.239.99
                    description: Listing of Dns Domains setup
                default:
                    description: Default response
            operationId: getDnsList
            summary: List of Domains on DNS Server
            description: Gets a list of the domains currently configured on the DNS servers
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DnsNewDomain'
                        examples:
                            DnsNewDomainExampleJson:
                                value:
                                    domain: mydomain.com
                                    ip: 1.2.3.4
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/DnsNewDomain'
                        examples:
                            DnsNewDomainExample:
                                value:
                                    domain: mydomain.com
                                    ip: 1.2.3.4
                required: true
            tags:
                - dns
            responses:
                default:
                    description: Default response
            operationId: addDnsDomain
            summary: ''
            description: ''
    '/vps/{id}/start':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsStart
            summary: Start VPS
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/restart':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: VPS ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsRestart
            summary: Restart VPS
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/stop':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsStop
            summary: Stop VPS
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/block_smtp':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: VPS ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsBlockSmtp
            summary: Blocks SMTP
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/disable_cd':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: VPS ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsDisableCd
            summary: Disable CD Drive
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/disable_quota':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: VPS ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsDisableQuota
            summary: Disable Quotas
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/eject_cd':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: VPS ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsEjectCd
            summary: Eject CD Drive
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/enable_quota':
        get:
            tags:
                - vps
            parameters:
                -
                    name: id
                    description: VPS ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/QueueResponse'
            operationId: doVpsEnableQuota
            summary: Enable Quotas
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/websites/{id}':
        get:
            tags:
                - webhosting
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Website'
                    description: Website details
                default:
                    description: Default response
            operationId: getWebsiteInfo
            summary: ''
            description: ''
        post:
            tags:
                - webhosting
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateWebsiteInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: Website ID number
                schema:
                    type: integer
                in: path
                required: true
    '/ssl/{id}':
        get:
            tags:
                - ssl
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: getSslInfo
            summary: ''
            description: ''
        post:
            tags:
                - ssl
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateSslInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: SSL Cert ID number
                schema:
                    type: integer
                in: path
                required: true
    '/servers/{id}':
        get:
            tags:
                - servers
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Server'
                    description: Server details
                default:
                    description: Default response
            operationId: getServerInfo
            summary: ''
            description: ''
        post:
            tags:
                - servers
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateServerInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: Server ID number
                schema:
                    type: integer
                in: path
                required: true
    '/qs/{id}':
        get:
            tags:
                - quickservers
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Quickserver'
                    description: Quickserver details
                default:
                    description: Default response
            operationId: getQsInfo
            summary: ''
            description: ''
        post:
            tags:
                - quickservers
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateQsInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: QuickServer ID number
                schema:
                    type: integer
                in: path
                required: true
    '/mail/{id}':
        get:
            tags:
                - mail
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MailSchema'
                    description: Mail Information.
                default:
                    description: Default response
            operationId: getMailInfo
            summary: ''
            description: ''
        post:
            tags:
                - mail
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateMailInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: Mail ID number
                schema:
                    type: integer
                in: path
                required: true
    '/licenses/{id}':
        get:
            tags:
                - licenses
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/License'
                    description: License information.
                default:
                    description: Default response
            operationId: getLicenseInfo
            summary: ''
            description: ''
        post:
            tags:
                - licenses
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateLicenseInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: License ID number
                schema:
                    type: integer
                in: path
                required: true
    '/domains/{id}':
        get:
            tags:
                - domains
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Domain'
                    description: Domain Information.
                default:
                    description: Default response
            operationId: getDomainInfo
            summary: ''
            description: ''
        post:
            tags:
                - domains
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateDomainInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: Domain ID number
                schema:
                    type: integer
                in: path
                required: true
    '/account/creditcards/{id}':
        post:
            tags:
                - account
                - billing
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateAccountCreditCard
            summary: ''
            description: ''
        delete:
            tags:
                - account
                - billing
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: deleteAccountCreditCard
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: CreditCard ID number
                schema:
                    type: integer
                in: path
                required: true
    /floating_ips:
        get:
            tags:
                - floating_ips
            responses:
                '200':
                    content:
                        application/json: {}
                    description: The listing of `Floating IPs` services on your account.
                default:
                    description: Default response
            operationId: getFloatingIpsList
            summary: ''
            description: ''
    '/floating_ips/{id}':
        get:
            tags:
                - floating_ips
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: getFloatingIpInfo
            summary: ''
            description: ''
        post:
            tags:
                - floating_ips
            parameters:
                -
                    name: id
                    description: The order ID number.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                default:
                    description: Default response
            operationId: updateFloatingIpInfo
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: Floating IPs ID number
                schema:
                    type: integer
                in: path
                required: true
    /floating_ips/order:
        get:
            tags:
                - floating_ips
            responses:
                default:
                    description: Default response
            operationId: getNewFloatingIp
            summary: ''
            description: ''
        put:
            tags:
                - floating_ips
            responses:
                '200':
                    description: Validate Floating IPs order response
            operationId: putFloating_ips
            summary: ''
            description: ''
        post:
            tags:
                - floating_ips
            responses:
                default:
                    description: Default response
            operationId: addFloatingIp
            summary: ''
            description: ''
    '/account/oauth/{name}':
        delete:
            tags:
                - account
            responses:
                '200':
                    description: Delete Account OAuth response
            operationId: deleteAccountOauthName
            summary: ''
            description: ''
        parameters:
            -
                name: name
                in: path
                required: true
    '/account/oauth/{name}/logout':
        get:
            tags:
                - account
            responses:
                default:
                    description: Default response
            operationId: logoutAccountOauth
            summary: ''
            description: ''
        parameters:
            -
                name: name
                in: path
                required: true
    '/vps/{id}/view_desktop':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: Get VPS View Desktop Information
            operationId: getVpsViewDesktop
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Submit VPS View Desktop Information
            operationId: postVpsViewDesktop
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/traffic_usage':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: Get VPS Traffic usage
            operationId: getVpsTrafficUsage
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Submit VPS Traffic Usage
            operationId: postVpsTrafficUsage
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/slices':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Slices information
            operationId: getVpsSlices
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Update VPS slices response
            operationId: postVpsSlices
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/setup_vnc':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: Get VPS Setup VNC Information
            operationId: getVpsSetupVnc
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Setup VNC response
            operationId: postVpsSetupVnc
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/reverse_dns':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Reverse DNS info response
            operationId: getVpsReverseDns
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Update VPS Reverse DNS response
            operationId: postVpsReverseDns
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/restore':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: Get VPS Restore info response
            operationId: getVpsRestore
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/reset_password':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Reset password info
            operationId: getVpsResetPassword
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Reset Password update response
            operationId: postVpsResetPassword
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/reinstall_os':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Reinstall OS info response
            operationId: getVpsReinstallOs
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Reinstall OS post response
            operationId: postVpsReinstallOs
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/invoices':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: Get VPS Invoices response
            operationId: getVpsInvoices
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/insert_cd':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Insert CD info response
            operationId: getVpsInsertCd
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Update VPS Insert CD response
            operationId: postVpsInsertCd
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/change_webuzo_password':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Change Webuzo Password info response
            operationId: getVpsChangeWebuzoPassword
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Submit VPS Change Webuzo Password response
            operationId: postVpsChangeWebuzoPassword
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/change_timezone':
        get:
            tags:
                - vps
            responses:
                '200':
                    description: VPS Change Timezone info response
            operationId: getVpsChangeTimezone
            summary: ''
            description: ''
        post:
            tags:
                - vps
            responses:
                '200':
                    description: Update VPS Change Timezone response
            operationId: postVpsChangeTimezone
            summary: ''
            description: ''
        parameters:
            -
                name: id
                description: VPS ID number
                schema:
                    type: integer
                in: path
                required: true
    '/vps/{id}/change_root_password':
        get:
            tags:
                - vps
            responses:
                '200':
[...]
