#SSL Certs
privkey.pem
fullchain.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dev-dist
dist
dist_electron
dist-ssr
coverage
*.local

.env

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs

# Zero Installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Non Zero nstalls
public/.pnp.*
public/.yarn/*
!public/.yarn/patches
!public/.yarn/plugins
!public/.yarn/releases
!public/.yarn/sdks
!public/.yarn/versions

# Vitest related files
__snapshots__/
coverage/
