.column {
  min-width: 170px;
  float: left;
  padding-bottom: 10px;
}
.portlet {
  margin: 0 1em 1em 0;
}
.portlet-header {
  padding-left: 0.2em;
  font-size: 14px;
  text-align: left;
}
.portlet-header .ui-icon {
  float: right;
}
.portlet-content {
  padding: 0.4em;
  font-size: 14px;
}
.ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible !important;
  height: 50px !important;
}
.ui-sortable-placeholder * {
  visibility: hidden;
}
