{
    "openapi": "3.0.3",
    "info": {
        "title": "InterServer Management API",
        "version": "0.9.0",
        "description": "**Introducing the InterServers myadmin Host Management API – Your Gateway to Seamless Service Management**\n\n# Overview\n\nInterServers is thrilled to present the myadmin Host Management API, a cutting-edge solution designed to simplify and streamline the management of our comprehensive range of services. Whether you're in need of [dedicated server hosting](), [web hosting](), [VPS hosting](), [backups](), [domain registrations](), [Mail Delivery services](), or our innovative hybrid VPS-bare metal product [Rapid Deploy Servers](), our API offers a user-friendly and efficient approach to managing your services.\n\nWith the myadmin Host Management API, you can now harness the power of modern [REST]() and [WebSocket]() interfaces to effortlessly maintain and control your InterServers services. Say goodbye to complex and time-consuming manual configurations – our API empowers you to execute a wide range of operations with simple, easy-to-use calls, ensuring that service management becomes a hassle-free experience.\n\nOne of the standout features of the myadmin Host Management API is its extensive language support. We have [code samples]() available in every modern programming language, allowing developers to quickly integrate our API into their existing systems. Whether you prefer [Python](), [JavaScript](), [Ruby](), [PHP](), or any other language, we have you covered. Our goal is to ensure that you can seamlessly integrate and automate your InterServers services, regardless of your preferred programming language.\n\nTo further enhance the user xperience, we offer interactive [documentation]() that makes it a breeze to navigate and understand the myadmin Host Management API. Our comprehensive documentation provides detailed explanations, along with interactive code examples, giving you a hands-on approach to learning and implementing the API's functionalities. Whether you're a seasoned developer or just starting your journey, our user-friendly documentation will be your go-to resource for all your service management needs.\n\n# Authentication\n\nIn order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site.\n\nWe support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page.\n\n## Using SessionId with Login\n\n### Logging in\n\n### Passing Session ID\n\n## Using API Key\n\n",
        "termsOfService": "https://www.interserver.net/terms-of-service.html",
        "contact": {
            "name": "InterServer Support Staff",
            "url": "https://www.interserver.net/contact-us.html",
            "email": "support@interserver.net"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://my.interserver.net/apiv2",
            "description": "Live API Endpoint"
        }
    ],
    "paths": {
        "/account": {
            "summary": "User Account Information and Management",
            "description": "This endpoint allows you to manage various user details, including contact information and account security.\n\n- Use the `GET` method to retrieve your account information.\n- Use the `POST` method to update your stored contact and billing information.\n",
            "get": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountInfo"
                                }
                            }
                        },
                        "description": "Your account information."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getAccountInfo",
                "summary": "Get Account Information",
                "description": "Retrieves your account information."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountInfoPost"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountInfoPost"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Account"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateAccountInfo",
                "summary": "Update Account Information",
                "description": "Updates the stored contact and billing information we have in our system with the provided data."
            }
        },
        "/account/2fa": {
            "post": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateAccountTfa",
                "summary": "Two-Factor Authorization",
                "description": ""
            }
        },
        "/account/apikey": {
            "post": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateAccountApiKey",
                "summary": "Generate New API Key",
                "description": ""
            }
        },
        "/account/creditcards": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BillingAddCcRequest"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/BillingAddCcRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "addAccountCreditCard",
                "summary": "Add CreditCard",
                "description": ""
            }
        },
        "/account/creditcards/{id}": {
            "post": {
                "tags": [
                    "Billing"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateAccountCreditCard",
                "summary": "Update CreditCard",
                "description": ""
            },
            "delete": {
                "tags": [
                    "Billing"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "deleteAccountCreditCard",
                "summary": "Delete CreditCard",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "CreditCard ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/account/features": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountFeatures"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountFeatures"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateAccountFeatures",
                "summary": "Update Account Features",
                "description": ""
            }
        },
        "/account/iplimits": {
            "post": {
                "requestBody": {
                    "description": "The lower and upper bounds of an ip range.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IpLimitRange"
                            },
                            "examples": {
                                "IpLimitRangeJsonExample": {
                                    "value": {
                                        "start": "1.2.3.0",
                                        "end": "1.2.3.255"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/IpLimitRange"
                            },
                            "examples": {
                                "IpLimitRangeFormExample": {
                                    "value": {
                                        "start": "1.2.3.0",
                                        "end": "1.2.3.255"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Account"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateAccountIpLimits",
                "summary": "Add IP Limit",
                "description": "Add an IP range into the IP Limiting IP ranges."
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResponse"
                                }
                            }
                        },
                        "description": "IP Range removed."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "deleteIpLimit",
                "summary": "Delete IP Limit",
                "description": "This will remove an IP range from the ranges of IPs for limiting your account to specific IPs."
            }
        },
        "/account/oauth/{name}": {
            "delete": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "deleteAccountOauthName",
                "summary": "Unlink OAuth Account",
                "description": ""
            },
            "parameters": [
                {
                    "name": "name",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/account/oauth/{name}/logout": {
            "get": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "logoutAccountOauth",
                "summary": "Logout of OAuth",
                "description": ""
            },
            "parameters": [
                {
                    "name": "name",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/account/password": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordRequest"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateAccountPassword",
                "summary": "Update Account Password",
                "description": ""
            }
        },
        "/account/sshkey": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountSshKey"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountSshKey"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateAccountSshKey",
                "summary": "Update SSH Keys",
                "description": ""
            }
        },
        "/account/username": {
            "post": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadInput"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "postAccountUsername",
                "summary": "Change Username",
                "description": "Changes the login/user name on the account."
            }
        },
        "/affiliate/banners": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AffiliateBannerRow"
                                    }
                                },
                                "examples": {
                                    "AffiliateBannerExample": {
                                        "value": [
                                            {
                                                "image": "12946798.gif",
                                                "width": "125",
                                                "height": "125"
                                            },
                                            {
                                                "image": "12946800.gif",
                                                "width": "160",
                                                "height": "90"
                                            },
                                            {
                                                "image": "12946802.gif",
                                                "width": "160",
                                                "height": "190"
                                            },
                                            {
                                                "image": "12946806.gif",
                                                "width": "200",
                                                "height": "200"
                                            },
                                            {
                                                "image": "12946808.gif",
                                                "width": "250",
                                                "height": "250"
                                            },
                                            {
                                                "image": "12946811.gif",
                                                "width": "300",
                                                "height": "250"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Affiliate Banners Array"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getAffiliateBanners",
                "summary": "Get Affiliate Banners",
                "description": "An array of affiliate banner images."
            }
        },
        "/affiliate/landing_pg": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AffiliateDockSetup"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AffiliateDockSetup"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateAffiliateLandingPage",
                "summary": "Update Affiliate Landing Page",
                "description": "Updates the landing page for affiliates."
            }
        },
        "/affiliate/payment_setup": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AffiliatePaymentSetup"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AffiliatePaymentSetup"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateAffiliatePaymentSetup",
                "summary": "Update Affiliate Payment Setup",
                "description": "Updates the payment settings for affilliates"
            }
        },
        "/affiliate/rich_report": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getAffiliateRichReport",
                "summary": "Get Affiliiate Report",
                "description": "Get Affiliate Report"
            }
        },
        "/affiliate/sales_graph": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getAffiliateSalesGraph",
                "summary": "Get Affiliate Sales Graph",
                "description": "Gets Sales Graph for Affiliates."
            }
        },
        "/affiliate/sales_report": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getAffiliateSalesReport",
                "summary": "Get Affiliate Sales Report",
                "description": "Gets Sales Report for Affiliate."
            }
        },
        "/affiliate/traffic_graph": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getAffiliateTrafficGraph",
                "summary": "Get Affiliate Traffic Graph",
                "description": "Gets Affiliate Traffic Graph."
            }
        },
        "/affiliate/web_traffic": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AffiliateTrafficRow"
                                    }
                                },
                                "examples": {
                                    "AffiliateWebTrafficResponseExample": {
                                        "value": [
                                            {
                                                "traffic_id": "91839913",
                                                "traffic_ip": "2a06:98c0:3600::",
                                                "traffic_url": "https://www.interserver.net/webhosting/?id=8",
                                                "traffic_affiliate": "8",
                                                "traffic_referrer": "",
                                                "traffic_timestamp": "2023-09-30 06:30:27"
                                            },
                                            {
                                                "traffic_id": "91831932",
                                                "traffic_ip": "2a06:98c0:3600::",
                                                "traffic_url": "https://www.interserver.net/webhosting/?id=8",
                                                "traffic_affiliate": "8",
                                                "traffic_referrer": "",
                                                "traffic_timestamp": "2023-09-30 03:15:13"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "The recent affiliate web traffic"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "affiliateGetWebTraffic",
                "summary": "Get Affiliate Web Traffic",
                "description": "Gets the recent affiliate web traffic."
            }
        },
        "/backups": {
            "get": {
                "tags": [
                    "Backups"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BackupRow"
                                    }
                                }
                            }
                        },
                        "description": "The listing of `Backups` services on your account."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getBackupsList",
                "summary": "List Backups",
                "description": ""
            }
        },
        "/backups/order": {
            "get": {
                "tags": [
                    "Backups"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BackupsOrder"
                                }
                            }
                        },
                        "description": "Information needed to generate an order form."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getNewBackup",
                "summary": "Get Backup Ordering Information",
                "description": ""
            },
            "put": {
                "tags": [
                    "Backups"
                ],
                "responses": {
                    "200": {
                        "description": "Validate Backup Order Response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "putBackups",
                "summary": "Validate Backup Order",
                "description": ""
            },
            "post": {
                "tags": [
                    "Backups"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "addBackup",
                "summary": "Place Backup Order",
                "description": ""
            }
        },
        "/backups/{id}": {
            "get": {
                "tags": [
                    "Backups"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backup"
                                }
                            }
                        },
                        "description": "The Backup Information"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getBackupInfo",
                "summary": "View Backup Order",
                "description": ""
            },
            "post": {
                "tags": [
                    "Backups"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateBackupInfo",
                "summary": "Update Backup Information",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Backup ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/backups/{id}/cancel": {
            "get": {
                "tags": [
                    "Backups"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "backupsCancelGet",
                "summary": "Cancel Backup",
                "description": "Cancels a service in our system."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Backup ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/backups/{id}/invoices": {
            "get": {
                "tags": [
                    "Backups"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChargeInvoiceRows"
                                }
                            }
                        },
                        "description": "Get Invoices response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getBackupInvoices",
                "summary": "Get Backup Order Invoices",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Backup ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/backups/{id}/welcome_email": {
            "get": {
                "tags": [
                    "Backups"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getBackupsWelcomeEmail",
                "summary": "Resend Backup Welcome Email",
                "description": "Resends the welcome email for the order."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Backup ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/billing/cart": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "getBillingCart",
                "summary": "Get Cart Details",
                "description": ""
            }
        },
        "/billing/prepays": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "getBillingPrePays",
                "summary": "List PrePays",
                "description": ""
            }
        },
        "/captcha": {
            "get": {
                "tags": [
                    "Public"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaptchaResponse"
                                },
                                "examples": {
                                    "CaptchaResponseExample": {
                                        "value": {
                                            "captcha": "data:image/jpeg;base64,/9j/4AAQ"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "An array containing a `captcha` field containing a string with a base64 encoded captcha image."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {}
                ],
                "operationId": "getCaptcha",
                "summary": "Get Captcha Image",
                "description": "Retrieves the information so you can render a captcha check"
            }
        },
        "/dns": {
            "summary": "DNS Management",
            "description": "View and manage your DNS domains and records",
            "get": {
                "tags": [
                    "DNS"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DnsListItem"
                                    }
                                },
                                "examples": {
                                    "DnsListExample": {
                                        "value": [
                                            {
                                                "id": 68,
                                                "name": "hussfamily.com",
                                                "content": "64.20.35.186"
                                            },
                                            {
                                                "id": 1658,
                                                "name": "detain.interserver.net",
                                                "content": "66.45.228.74"
                                            },
                                            {
                                                "id": 1659,
                                                "name": "creation.interserver.net",
                                                "content": "66.23.239.99"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Listing of Dns Domains setup"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDnsList",
                "summary": "List DNS Entries",
                "description": "Gets a list of the domains currently configured on the DNS servers"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DnsNewDomain"
                            },
                            "examples": {
                                "DnsNewDomainExampleJson": {
                                    "value": {
                                        "domain": "mydomain.com",
                                        "ip": "1.2.3.4"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/DnsNewDomain"
                            },
                            "examples": {
                                "DnsNewDomainExample": {
                                    "value": {
                                        "domain": "mydomain.com",
                                        "ip": "1.2.3.4"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "DNS"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "addDnsDomain",
                "summary": "Add DNS Entry",
                "description": ""
            }
        },
        "/dns/{id}": {
            "summary": "DNS Domain Management",
            "description": "View and manage a domain and the records for it.",
            "get": {
                "tags": [
                    "DNS"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DnsRecord"
                                    }
                                },
                                "examples": {
                                    "DnsRecordExample": {
                                        "value": [
                                            {
                                                "id": "473",
                                                "domain_id": "68",
                                                "name": "hussfamily.com",
                                                "type": "NS",
                                                "content": "cdns1.interserver.net",
                                                "ttl": "86400",
                                                "prio": "0",
                                                "disabled": "0",
                                                "ordername": "",
                                                "auth": "1"
                                            },
                                            {
                                                "id": "474",
                                                "domain_id": "68",
                                                "name": "hussfamily.com",
                                                "type": "NS",
                                                "content": "cdns2.interserver.net",
                                                "ttl": "86400",
                                                "prio": "0",
                                                "disabled": "0",
                                                "ordername": "",
                                                "auth": "1"
                                            },
                                            {
                                                "id": "475",
                                                "domain_id": "68",
                                                "name": "hussfamily.com",
                                                "type": "A",
                                                "content": "64.20.35.186",
                                                "ttl": "86400",
                                                "prio": "0",
                                                "disabled": "0",
                                                "ordername": "",
                                                "auth": "1"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "The dns records for a given domain."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDnsDomain",
                "summary": "Get Domain DNS entries.",
                "description": "Returns a list of all of the dns records."
            },
            "post": {
                "tags": [
                    "DNS"
                ],
                "responses": {
                    "200": {
                        "description": "Add DNS Domain Response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "updateDnsDomain",
                "summary": "Update DNS Domain",
                "description": "Creates a new Domain on the DNS Servers."
            },
            "delete": {
                "tags": [
                    "DNS"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "deleteDnsDomain",
                "summary": "Delete a DNS Domain",
                "description": "Deletes a domain from the DNS servers."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "The DNS Domain ID.",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/dns/{id}/{recordId}": {
            "summary": "DNS Record Management",
            "description": "Manage a DNS Record for the given Domain.",
            "post": {
                "requestBody": {
                    "description": "The request data to update a dns record.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DnsUpdateRecord"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/DnsUpdateRecord"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "DNS"
                ],
                "parameters": [
                    {
                        "name": "recordId",
                        "description": "The domain record ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "id",
                        "description": "The domain ID number",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateDnsRecord",
                "summary": "Update DNS Record",
                "description": "Updates a DNS record with the supplied information."
            },
            "delete": {
                "tags": [
                    "DNS"
                ],
                "parameters": [
                    {
                        "name": "recordId",
                        "description": "The domain record ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "id",
                        "description": "The domain ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "deleteDnsRecord",
                "summary": "Delete DNS Record",
                "description": "Removes a DNS Record from the specified domain."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "The Domain ID number.",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "recordId",
                    "description": "The Record ID number for the given domain.",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DomainRow"
                                    }
                                },
                                "examples": {
                                    "DomainsExample": {
                                        "value": [
                                            {
                                                "domain_id": "418295",
                                                "domain_hostname": "unixsrv10.com",
                                                "domain_expire_date": "",
                                                "cost": "11.00",
                                                "domain_status": "canceled"
                                            },
                                            {
                                                "domain_id": "592337",
                                                "domain_hostname": "detain.dev",
                                                "domain_expire_date": "2023-08-14T00:59:38.000Z",
                                                "cost": "18.00",
                                                "domain_status": "active"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "The listing of `Domains` services on your account."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDomainsList",
                "summary": "List Domain Orders",
                "description": ""
            }
        },
        "/domains/order": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainOrder"
                                }
                            }
                        },
                        "description": "Domain registration order information."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getNewDomain",
                "summary": "Get Domain Ordering Information",
                "description": ""
            },
            "put": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "200": {
                        "description": "Validate Domain Order response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "putDomains",
                "summary": "Domain Order Search",
                "description": ""
            },
            "post": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "addDomain",
                "summary": "Place Domain Order",
                "description": ""
            },
            "patch": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "200": {
                        "description": "Validate Domain order response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "patchDomains",
                "summary": "Validate Domain Order",
                "description": ""
            }
        },
        "/domains/order/{domain}": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDomainOrderSearchResults",
                "summary": "Get Domain Order Search Results",
                "description": "Gets the order data for the given hostname"
            },
            "parameters": [
                {
                    "name": "domain",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/order/{domain}/{regType}": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDomainOrderFields",
                "summary": "Get Domain Order Fields",
                "description": "Get fields for placing a domain order for the given domain name and registration type."
            },
            "parameters": [
                {
                    "name": "domain",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "regType",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Domain"
                                }
                            }
                        },
                        "description": "Domain Information."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDomainInfo",
                "summary": "Get Domain Order",
                "description": ""
            },
            "post": {
                "tags": [
                    "Domains"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateDomainInfo",
                "summary": "Update Domain Order",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/cancel": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "domainsCancelGet",
                "summary": "Cancel Domain",
                "description": "Cancels a service in our system."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/contact": {
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/dnssec": {
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/invoices": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChargeInvoiceRows"
                                }
                            }
                        },
                        "description": "Get Invoices response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDomainInvoices",
                "summary": "Get Domain Invoices",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/nameservers": {
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/renew": {
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/transfer": {
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/welcome_email": {
            "get": {
                "tags": [
                    "Domains"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getDomainsWelcomeEmail",
                "summary": "Resend Domain Welcome Email",
                "description": "Resends the welcome email for the order."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/domains/{id}/whois": {
            "parameters": [
                {
                    "name": "id",
                    "description": "Domain ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/floating_ips": {
            "get": {
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {}
                        },
                        "description": "The listing of `Floating IPs` services on your account."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "getFloatingIpsList",
                "summary": "List Floating IPs",
                "description": ""
            }
        },
        "/floating_ips/order": {
            "get": {
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "getNewFloatingIp",
                "summary": "Get Floating IP Ordering Information",
                "description": ""
            },
            "put": {
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "200": {
                        "description": "Validate Floating IPs order response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "putFloating_ips",
                "summary": "Validate Floating IP Order",
                "description": ""
            },
            "post": {
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "addFloatingIp",
                "summary": "Place Floating IP Order",
                "description": ""
            }
        },
        "/floating_ips/{id}": {
            "get": {
                "tags": [
                    "Floating_IPs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "getFloatingIpInfo",
                "summary": "View Floating IP",
                "description": ""
            },
            "post": {
                "tags": [
                    "Floating_IPs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateFloatingIpInfo",
                "summary": "Update Floating IP",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Floating IPs ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/floating_ips/{id}/cancel": {
            "get": {
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "floating_ipsCancelGet",
                "summary": "Cancel Floating IP",
                "description": "Cancels a service in our system."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Floating IPs ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/floating_ips/{id}/change_ip": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IpObject"
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/IpObject"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "postFloatingIpsChangeIp",
                "summary": "Change Floating IP Target",
                "description": "This will change the IP address that  your floating ip points to."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Floating IPs ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/floating_ips/{id}/invoices": {
            "get": {
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChargeInvoiceRows"
                                }
                            }
                        },
                        "description": "Get Invoices response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getFloatingIpInvoices",
                "summary": "Get Floating IP Invoices",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Floating IPs ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/floating_ips/{id}/welcome_email": {
            "get": {
                "tags": [
                    "Floating_IPs"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getFloatingIpsWelcomeEmail",
                "summary": "Resend Floating IPs Welcome Email",
                "description": "Resends the welcome email for the order."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Floating IPs ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/home": {
            "get": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Home"
                                }
                            }
                        },
                        "description": "Genreal information for use on the home page."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getHome",
                "summary": "Get Home Data",
                "description": "Retrieves a general assortment of information useful for displaying a home page / dashboard overview."
            }
        },
        "/info": {
            "get": {
                "tags": [
                    "Public"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServicesInfo"
                                }
                            }
                        },
                        "description": "The modules and services information from the server."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {}
                ],
                "operationId": "getInfo",
                "summary": "Get Server Info",
                "description": "Retrieves information about the modules on the server, the service packages, thier categories and types."
            }
        },
        "/invoices": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "parameters": [
                    {
                        "name": "searchString",
                        "description": "pass an optional search string for looking up inventory",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "skip",
                        "description": "number of records to skip for pagination",
                        "schema": {
                            "format": "int32",
                            "minimum": 0,
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "description": "maximum number of records to return",
                        "schema": {
                            "format": "int32",
                            "maximum": 50,
                            "minimum": 0,
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Invoice"
                                    }
                                }
                            }
                        },
                        "description": "search results matching criteria"
                    },
                    "400": {
                        "description": "bad input parameter"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getInvoices",
                "summary": "Get Invoices",
                "description": "The \"Get User Invoices\" API endpoint allows users to retrieve a list of their invoices. By making a GET request to this endpoint, users can access their individual invoice information, including details such as invoice number, date, amount, and paid status."
            }
        },
        "/licenses": {
            "get": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LicenseRow"
                                    }
                                }
                            }
                        },
                        "description": "The listing of `Licenses` services on your account."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getLicenseList",
                "summary": "List Licenses",
                "description": ""
            }
        },
        "/licenses/order": {
            "get": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LicensesOrder"
                                }
                            }
                        },
                        "description": "License ordering information."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getNewLicense",
                "summary": "Get License Order Information",
                "description": ""
            },
            "put": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "200": {
                        "description": "Validate Licenses order response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "putLicenses",
                "summary": "Validate License Order",
                "description": ""
            },
            "post": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "addLicense",
                "summary": "Place License Order",
                "description": ""
            }
        },
        "/licenses/order/{catTag}": {
            "get": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getLicenseOrderCatTagInfo",
                "summary": "Get License Order Information for Category",
                "description": "Get License Order data for the given license category."
            },
            "parameters": [
                {
                    "name": "catTag",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/licenses/{id}": {
            "get": {
                "tags": [
                    "Licenses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/License"
                                }
                            }
                        },
                        "description": "License information."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getLicenseInfo",
                "summary": "Get License",
                "description": ""
            },
            "post": {
                "tags": [
                    "Licenses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The order ID number.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "operationId": "updateLicenseInfo",
                "summary": "Update License",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "License ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/licenses/{id}/cancel": {
            "get": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/TextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "licensesCancelGet",
                "summary": "Cancel License",
                "description": "Cancels a service in our system."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "License ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/licenses/{id}/change_ip": {
            "parameters": [
                {
                    "name": "id",
                    "description": "License ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/licenses/{id}/change_os": {
            "parameters": [
                {
                    "name": "id",
                    "description": "License ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/licenses/{id}/invoices": {
            "get": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChargeInvoiceRows"
                                }
                            }
                        },
                        "description": "Get Invoices response"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getLicenseInvoices",
                "summary": "Get License Invoices",
                "description": ""
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "License ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/licenses/{id}/welcome_email": {
            "get": {
                "tags": [
                    "Licenses"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "getLicensesWelcomeEmail",
                "summary": "Resend License Welcome Email",
                "description": "Resends the welcome email for the order."
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "License ID number",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/login": {
            "summary": "Log In to the system and create a session.",
            "description": "Submit your login credentials to generate a session id which can be used for validating requests.",
            "get": {
                "tags": [
                    "Public"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginInfo"
                                },
                                "examples": {
                                    "LoginInfoExample": {
                                        "value": {
                                            "logo": "//my.interserver.net/images/logos/mystaging.png",
                                            "captcha": "data:image/jpeg;base64,/9j/",
                                            "language": "en-US",
                                            "counts": {
                                                "vps": 290201,
                                                "websites": 205172,
                                                "servers": 27940
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Various pieces of information useful for rendering a login page."
                    },
                    "403": {
                        "$ref": "#/components/responses/LoginResponseError"
                    }
                },
                "security": [
                    {}
                ],
                "operationId": "getLoginInfo",
                "summary": "Get Login Info",
                "description": "Gets the various pieces of information useful for generating a login page."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginSubmissionExample"
                            },
                            "examples": {
                                "LoginSubmissionExampleExample": {
                                    "value": {
                                        "login": "user@domain.com",
                                        "passwd": "mypassword",
                                        "remember": "true",
                                        "g-recaptcha-response": {
                                            "__v_isShallow": false,
                                            "dep": {
                                                "w": 0,
                                                "n": 0
                                            },
                                            "__v_isRef": true,
                                            "_rawValue": "zzzzz",
                                            "_value": "zzzzz"
                                        }
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginSubmissionExample"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Public"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/LoginSuccessResponse"
                    },
                    "402": {
                        "$ref": "#/components/responses/LoginResponseError"
                    },
                    "default": {
                        "description": "Default response"
                    }
                },
                "security": [
                    {}
                ],
                "operationId": "submitLogin",
                "summary": "Submit Login Information",
                "description": "Tries to authenticate without system using the provided login credentials."
            }
        },
        "/logout": {
            "get": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessTextResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "operationId": "Logout",
                "summary": "Log Out",
                "description": "Logs out of the system."
            }
        },
        "/mail": {
            "get": {
                "tags": [
[...]
