.icon-coupon,
.icon-home,
.icon-website,
.icon-dns,
.icon-whois,
.icon-environment,
.icon-virtual-machine,
.icon-payment-history,
.icon-card-payment,
.icon-transaction-list,
.icon-data-pending,
.icon-past,
.icon-database-administrator,
.icon-system-task,
.icon-dashboard,
.icon-speed,
.icon-broadcasting,
.icon-restore-window,
.icon-combo-chart,
.icon-investment,
.icon-line-chart,
.icon-doughnut-chart,
.icon-pie-chart,
.icon-area-chart,
.icon-ratings,
.icon-decline,
.icon-investment-portfolio,
.icon-heat-map,
.icon-futures,
.icon-sine,
.icon-hourglass,
.icon-root-server,
.icon-flow-chart,
.icon-genealogy,
.icon-server,
.icon-upload-to-the-cloud,
.icon-active-directory,
.icon-signal,
.icon-activity-feed,
.icon-news-feed,
.icon-twitter,
.icon-facebook,
.icon-linkedin,
.icon-google-plus,
.icon-tumblr,
.icon-software-installer,
.icon-download-from-the-cloud,
.icon-password,
.icon-no-network,
.icon-network-drive,
.icon-network,
.icon-wired-network,
.icon-data-backup,
.icon-data-protection,
.icon-secure-cloud,
.icon-database-view,
.icon-technical-support,
.icon-upload-to-ftp,
.icon-download-from-ftp,
.icon-download-from-cloud,
.icon-downloads-folder,
.icon-downloading-updates,
.icon-upload,
.icon-upload-to-cloud,
.icon-certificate,
.icon-term,
.icon-open-source,
.icon-trademark,
.icon-registered-trademark,
.icon-let-s-encrypt,
.icon-template,
.icon-diploma,
.icon-security-ssl,
.icon-firewall,
.icon-purchase-order,
.icon-invoice,
.icon-checkout,
.icon-price-tag,
.icon-shopping-cart,
.icon-bill,
.icon-billing,
.icon-cashflow,
.icon-fee,
.icon-budget,
.icon-debt,
.icon-credit-control,
.icon-add-user-male,
.icon-create-document,
.icon-add-list,
.icon-add-property,
.icon-denied,
.icon-delete-document,
.icon-unlock,
.icon-lock,
.icon-show-password,
.icon-password-reset,
.icon-forgot-password,
.icon-password-1,
.icon-id-not-verified,
.icon-pincode-keyboard,
.icon-pin-pad,
.icon-access,
.icon-lock-2,
.icon-id-verified,
.icon-registration,
.icon-edit-property,
.icon-edit-profile,
.icon-bulleted-list,
.icon-overview,
.icon-card-verification-value,
.icon-card-security-code,
.icon-clear-shopping-cart,
.icon-deposit,
.icon-withdrawal,
.icon-bank-card-missing,
.icon-profit,
.icon-general-ledger,
.icon-ledger,
.icon-procurement,
.icon-merchant-account,
.icon-paypal,
.icon-visa,
.icon-mastercard,
.icon-windows8,
.icon-table-properties,
.icon-no-credit-cards,
.icon-trash,
.icon-automation,
.icon-checked-user-male,
.icon-individual-server,
.icon-virtual,
.icon-repository,
.icon-cisco-router,
.icon-move-node-down,
.icon-move-node-up,
.icon-delete-node,
.icon-delete-subnode,
.icon-add-subnode,
.icon-edit-node,
.icon-mysql,
.icon-git,
.icon-ubuntu,
.icon-web-address,
.icon-admin,
.icon-administrative-tools,
.icon-services,
.icon-businessman,
.icon-find-user-female,
.icon-moderator,
.icon-query,
.icon-user-groups,
.icon-join,
.icon-checked-user-female,
.icon-update-user,
.icon-find-user-male,
.icon-collaborator-male,
.icon-exit,
.icon-export,
.icon-login,
.icon-enter,
.icon-workspace,
.icon-weixin,
.icon-validation,
.icon-signin,
.icon-stack,
.icon-network-attached-storage,
.icon-linux-server,
.icon-server-shutdown,
.icon-windows-client,
.icon-synchronize,
.icon-linux,
.icon-grid-3,
.icon-internet-folder,
.icon-code-file,
.icon-shield,
.icon-pos-terminal,
.icon-switchboard,
.icon-remote-working,
.icon-cloud-checked,
.icon-cloud,
.icon-sync,
.icon-computer,
.icon-hub,
.icon-router,
.icon-cloud-storage,
.icon-add-database,
.icon-delete-database,
.icon-monitor,
.icon-view-details,
.icon-timeline,
.icon-source-code,
.icon-insert-table,
.icon-delete-table,
.icon-replicate-rows,
.icon-e-mail,
.icon-add-tag,
.icon-credit-card,
.icon-receipt,
.icon-shopping-basket,
.icon-advertising,
.icon-form,
.icon-cash-register,
.icon-discount,
.icon-read-message,
.icon-tags,
.icon-new-message,
.icon-paid,
.icon-spam,
.icon-group-message,
.icon-web-shield,
.icon-download,
.icon-globe,
.icon-online-support,
.icon-link,
.icon-support,
.icon-skype,
.icon-user-location,
.icon-add-to-favorites,
.icon-login-as-user,
.icon-rss,
.icon-change-theme,
.icon-info-popup,
.icon-new-window,
.icon-api,
.icon-php,
.icon-list-2,
.icon-php-designer,
.icon-mark-as-favorite,
.icon-block,
.icon-html,
.icon-data-grid,
.icon-analyze,
.icon-read-online,
.icon-input,
.icon-user-engagement-female,
.icon-user-engagement-male,
.icon-more-details,
.icon-spam-can,
.icon-vmware,
.icon-import,
.icon-menu,
.icon-linking,
.icon-contact,
.icon-user,
.icon-settings,
.icon-incoming-data,
.icon-enter-key,
.icon-accounting,
.icon-true-false,
.icon-list,
.icon-checklist,
.icon-edit-row,
.icon-slave,
.icon-database,
.icon-user-manual,
.icon-exchange,
.icon-vpn,
.icon-ssd,
.icon-hdd,
.icon-memory-slot,
.icon-cd,
.icon-shutdown,
.icon-restart,
.icon-hibernate,
.icon-sleep-mode,
.icon-network-card,
.icon-processor,
.icon-x64,
.icon-x86,
.icon-keyboard,
.icon-device-manager,
.icon-workstation,
.icon-imac,
.icon-sorting,
.icon-questionnaire,
.icon-inspection,
.icon-feedback,
.icon-faq,
.icon-manager,
.icon-name-tag,
.icon-vip,
.icon-planner,
.icon-hierarchy,
.icon-approval,
.icon-flow,
.icon-expired,
.icon-todo-list,
.icon-process,
.icon-reset,
.icon-task-completed,
.icon-goal,
.icon-tasks,
.icon-recurring-appointment-exception,
.icon-high-priority,
.icon-low-priority,
.icon-to-do,
.icon-tree-structure,
.icon-bar-chart,
.icon-mind-map,
.icon-neutral-trading,
.icon-scatter-plot,
.icon-stocks,
.icon-copyright,
.icon-decision,
.icon-approve,
.icon-disapprove,
.icon-attitude,
.icon-bad-decision,
.icon-mind,
.icon-rules,
.icon-agreement,
.icon-sales-performance,
.icon-bounced-check,
.icon-brochure,
.icon-request-money,
.icon-initiate-money-transfer,
.icon-work,
.icon-idea,
.icon-statistics,
.icon-presentation,
.icon-mockup,
.icon-prototype,
.icon-customer-support,
.icon-wallet,
.icon-remove-tag,
.icon-pricing,
.icon-calendar,
.icon-event,
.icon-calendar-minus,
.icon-calendar-plus,
.icon-calendar-delete,
.icon-month-view,
.icon-week-view,
.icon-day-view,
.icon-timer,
.icon-time-span,
.icon-rollback,
.icon-future,
.icon-present,
.icon-available-updates,
.icon-keypad,
.icon-tune,
.icon-decrease,
.icon-increase,
.icon-multiple-choice,
.icon-info,
.icon-help,
.icon-answers,
.icon-questions,
.icon-fishing-boat,
.icon-maintenance,
.icon-popup,
.icon-sign-out,
.icon-top-menu,
.icon-content,
.icon-tiles,
.icon-details,
.icon-small-icons,
.icon-large-icons,
.icon-thumbnails,
.icon-medium-icons,
.icon-spreadsheet,
.icon-nothing-found,
.icon-delete,
.icon-checkmark,
.icon-phone,
.icon-search,
.icon-rename,
.icon-edit-file,
.icon-warning-shield,
.icon-developer,
.icon-undelete,
.icon-book,
.icon-load-balancer,
.icon-ubuntu-2,
.icon-process-2,
.icon-card-exchange,
.icon-minus-1-day,
.icon-click---collect,
.icon-minus-1-month,
.icon-minus-1-hour,
.icon-chat,
.icon-buying,
.icon-location,
.icon-bank-cards,
.icon-ask-question,
.icon-attach,
.icon-pdf,
.icon-transaction,
.icon-refund,
.icon-online-money-transfer,
.icon-pay-wall,
.icon-no-cash,
.icon-report-card,
.icon-create-archive,
.icon-save-archive,
.icon-delete-archive,
.icon-detective,
.icon-event-accepted,
.icon-realtime,
.icon-stopwatch,
.icon-paycheque,
.icon-contact-details,
.icon-rest-api,
.icon-renew,
.icon-octocat,
.icon-communicate,
.icon-data-sheet,
.icon-recycling,
.icon-hide,
.icon-invisible,
.icon-github,
.icon-restart-2,
.icon-shutdown-2,
.icon-no-entry,
.icon-plus,
.icon-hibernate-2,
.icon-low-importance,
.icon-cancel,
.icon-unavailable,
.icon-synchronize-2,
.icon-replace,
.icon-recurring-appointment-exception-2,
.icon-ok,
.icon-find-and-replace,
.icon-junction,
.icon-feed-in,
.icon-sand-clock,
.icon-delete-link,
.icon-delete-ticket,
.icon-cancel-subscription,
.icon-news,
.icon-sign-up,
.icon-front-desk,
.icon-system-report,
.icon-call,
.icon-wrong-pincode,
.icon-one-free,
.icon-loyalty-card,
.icon-discount-2,
.icon-add-shopping-cart,
.icon-train-ticket,
.icon-low-price,
.icon-price-comparison,
.icon-sell,
.icon-fund-accounting,
.icon-sale,
.icon-cash-in-hand,
.icon-fraud,
.icon-heart-monitor,
.icon-ecg,
.icon-sleep-mode-2 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-coupon > svg,
.icon-home > svg,
.icon-website > svg,
.icon-dns > svg,
.icon-whois > svg,
.icon-environment > svg,
.icon-virtual-machine > svg,
.icon-payment-history > svg,
.icon-card-payment > svg,
.icon-transaction-list > svg,
.icon-data-pending > svg,
.icon-past > svg,
.icon-database-administrator > svg,
.icon-system-task > svg,
.icon-dashboard > svg,
.icon-speed > svg,
.icon-broadcasting > svg,
.icon-restore-window > svg,
.icon-combo-chart > svg,
.icon-investment > svg,
.icon-line-chart > svg,
.icon-doughnut-chart > svg,
.icon-pie-chart > svg,
.icon-area-chart > svg,
.icon-ratings > svg,
.icon-decline > svg,
.icon-investment-portfolio > svg,
.icon-heat-map > svg,
.icon-futures > svg,
.icon-sine > svg,
.icon-hourglass > svg,
.icon-root-server > svg,
.icon-flow-chart > svg,
.icon-genealogy > svg,
.icon-server > svg,
.icon-upload-to-the-cloud > svg,
.icon-active-directory > svg,
.icon-signal > svg,
.icon-activity-feed > svg,
.icon-news-feed > svg,
.icon-twitter > svg,
.icon-facebook > svg,
.icon-linkedin > svg,
.icon-google-plus > svg,
.icon-tumblr > svg,
.icon-software-installer > svg,
.icon-download-from-the-cloud > svg,
.icon-password > svg,
.icon-no-network > svg,
.icon-network-drive > svg,
.icon-network > svg,
.icon-wired-network > svg,
.icon-data-backup > svg,
.icon-data-protection > svg,
.icon-secure-cloud > svg,
.icon-database-view > svg,
.icon-technical-support > svg,
.icon-upload-to-ftp > svg,
.icon-download-from-ftp > svg,
.icon-download-from-cloud > svg,
.icon-downloads-folder > svg,
.icon-downloading-updates > svg,
.icon-upload > svg,
.icon-upload-to-cloud > svg,
.icon-certificate > svg,
.icon-term > svg,
.icon-open-source > svg,
.icon-trademark > svg,
.icon-registered-trademark > svg,
.icon-let-s-encrypt > svg,
.icon-template > svg,
.icon-diploma > svg,
.icon-security-ssl > svg,
.icon-firewall > svg,
.icon-purchase-order > svg,
.icon-invoice > svg,
.icon-checkout > svg,
.icon-price-tag > svg,
.icon-shopping-cart > svg,
.icon-bill > svg,
.icon-billing > svg,
.icon-cashflow > svg,
.icon-fee > svg,
.icon-budget > svg,
.icon-debt > svg,
.icon-credit-control > svg,
.icon-add-user-male > svg,
.icon-create-document > svg,
.icon-add-list > svg,
.icon-add-property > svg,
.icon-denied > svg,
.icon-delete-document > svg,
.icon-unlock > svg,
.icon-lock > svg,
.icon-show-password > svg,
.icon-password-reset > svg,
.icon-forgot-password > svg,
.icon-password-1 > svg,
.icon-id-not-verified > svg,
.icon-pincode-keyboard > svg,
.icon-pin-pad > svg,
.icon-access > svg,
.icon-lock-2 > svg,
.icon-id-verified > svg,
.icon-registration > svg,
.icon-edit-property > svg,
.icon-edit-profile > svg,
.icon-bulleted-list > svg,
.icon-overview > svg,
.icon-card-verification-value > svg,
.icon-card-security-code > svg,
.icon-clear-shopping-cart > svg,
.icon-deposit > svg,
.icon-withdrawal > svg,
.icon-bank-card-missing > svg,
.icon-profit > svg,
.icon-general-ledger > svg,
.icon-ledger > svg,
.icon-procurement > svg,
.icon-merchant-account > svg,
.icon-paypal > svg,
.icon-visa > svg,
.icon-mastercard > svg,
.icon-windows8 > svg,
.icon-table-properties > svg,
.icon-no-credit-cards > svg,
.icon-trash > svg,
.icon-automation > svg,
.icon-checked-user-male > svg,
.icon-individual-server > svg,
.icon-virtual > svg,
.icon-repository > svg,
.icon-cisco-router > svg,
.icon-move-node-down > svg,
.icon-move-node-up > svg,
.icon-delete-node > svg,
.icon-delete-subnode > svg,
.icon-add-subnode > svg,
.icon-edit-node > svg,
.icon-mysql > svg,
.icon-git > svg,
.icon-ubuntu > svg,
.icon-web-address > svg,
.icon-admin > svg,
.icon-administrative-tools > svg,
.icon-services > svg,
.icon-businessman > svg,
.icon-find-user-female > svg,
.icon-moderator > svg,
.icon-query > svg,
.icon-user-groups > svg,
.icon-join > svg,
.icon-checked-user-female > svg,
.icon-update-user > svg,
.icon-find-user-male > svg,
.icon-collaborator-male > svg,
.icon-exit > svg,
.icon-export > svg,
.icon-login > svg,
.icon-enter > svg,
.icon-workspace > svg,
.icon-weixin > svg,
.icon-validation > svg,
.icon-signin > svg,
.icon-stack > svg,
.icon-network-attached-storage > svg,
.icon-linux-server > svg,
.icon-server-shutdown > svg,
.icon-windows-client > svg,
.icon-synchronize > svg,
.icon-linux > svg,
.icon-grid-3 > svg,
.icon-internet-folder > svg,
.icon-code-file > svg,
.icon-shield > svg,
.icon-pos-terminal > svg,
.icon-switchboard > svg,
.icon-remote-working > svg,
.icon-cloud-checked > svg,
.icon-cloud > svg,
.icon-sync > svg,
.icon-computer > svg,
.icon-hub > svg,
.icon-router > svg,
.icon-cloud-storage > svg,
.icon-add-database > svg,
.icon-delete-database > svg,
.icon-monitor > svg,
.icon-view-details > svg,
.icon-timeline > svg,
.icon-source-code > svg,
.icon-insert-table > svg,
.icon-delete-table > svg,
.icon-replicate-rows > svg,
.icon-e-mail > svg,
.icon-add-tag > svg,
.icon-credit-card > svg,
.icon-receipt > svg,
.icon-shopping-basket > svg,
.icon-advertising > svg,
.icon-form > svg,
.icon-cash-register > svg,
.icon-discount > svg,
.icon-read-message > svg,
.icon-tags > svg,
.icon-new-message > svg,
.icon-paid > svg,
.icon-spam > svg,
.icon-group-message > svg,
.icon-web-shield > svg,
.icon-download > svg,
.icon-globe > svg,
.icon-online-support > svg,
.icon-link > svg,
.icon-support > svg,
.icon-skype > svg,
.icon-user-location > svg,
.icon-add-to-favorites > svg,
.icon-login-as-user > svg,
.icon-rss > svg,
.icon-change-theme > svg,
.icon-info-popup > svg,
.icon-new-window > svg,
.icon-api > svg,
.icon-php > svg,
.icon-list-2 > svg,
.icon-php-designer > svg,
.icon-mark-as-favorite > svg,
.icon-block > svg,
.icon-html > svg,
.icon-data-grid > svg,
.icon-analyze > svg,
.icon-read-online > svg,
.icon-input > svg,
.icon-user-engagement-female > svg,
.icon-user-engagement-male > svg,
.icon-more-details > svg,
.icon-spam-can > svg,
.icon-vmware > svg,
.icon-import > svg,
.icon-menu > svg,
.icon-linking > svg,
.icon-contact > svg,
.icon-user > svg,
.icon-settings > svg,
.icon-incoming-data > svg,
.icon-enter-key > svg,
.icon-accounting > svg,
.icon-true-false > svg,
.icon-list > svg,
.icon-checklist > svg,
.icon-edit-row > svg,
.icon-slave > svg,
.icon-database > svg,
.icon-user-manual > svg,
.icon-exchange > svg,
.icon-vpn > svg,
.icon-ssd > svg,
.icon-hdd > svg,
.icon-memory-slot > svg,
.icon-cd > svg,
.icon-shutdown > svg,
.icon-restart > svg,
.icon-hibernate > svg,
.icon-sleep-mode > svg,
.icon-network-card > svg,
.icon-processor > svg,
.icon-x64 > svg,
.icon-x86 > svg,
.icon-keyboard > svg,
.icon-device-manager > svg,
.icon-workstation > svg,
.icon-imac > svg,
.icon-sorting > svg,
.icon-questionnaire > svg,
.icon-inspection > svg,
.icon-feedback > svg,
.icon-faq > svg,
.icon-manager > svg,
.icon-name-tag > svg,
.icon-vip > svg,
.icon-planner > svg,
.icon-hierarchy > svg,
.icon-approval > svg,
.icon-flow > svg,
.icon-expired > svg,
.icon-todo-list > svg,
.icon-process > svg,
.icon-reset > svg,
.icon-task-completed > svg,
.icon-goal > svg,
.icon-tasks > svg,
.icon-recurring-appointment-exception > svg,
.icon-high-priority > svg,
.icon-low-priority > svg,
.icon-to-do > svg,
.icon-tree-structure > svg,
.icon-bar-chart > svg,
.icon-mind-map > svg,
.icon-neutral-trading > svg,
.icon-scatter-plot > svg,
.icon-stocks > svg,
.icon-copyright > svg,
.icon-decision > svg,
.icon-approve > svg,
.icon-disapprove > svg,
.icon-attitude > svg,
.icon-bad-decision > svg,
.icon-mind > svg,
.icon-rules > svg,
.icon-agreement > svg,
.icon-sales-performance > svg,
.icon-bounced-check > svg,
.icon-brochure > svg,
.icon-request-money > svg,
.icon-initiate-money-transfer > svg,
.icon-work > svg,
.icon-idea > svg,
.icon-statistics > svg,
.icon-presentation > svg,
.icon-mockup > svg,
.icon-prototype > svg,
.icon-customer-support > svg,
.icon-wallet > svg,
.icon-remove-tag > svg,
.icon-pricing > svg,
.icon-calendar > svg,
.icon-event > svg,
.icon-calendar-minus > svg,
.icon-calendar-plus > svg,
.icon-calendar-delete > svg,
.icon-month-view > svg,
.icon-week-view > svg,
.icon-day-view > svg,
.icon-timer > svg,
.icon-time-span > svg,
.icon-rollback > svg,
.icon-future > svg,
.icon-present > svg,
.icon-available-updates > svg,
.icon-keypad > svg,
.icon-tune > svg,
.icon-decrease > svg,
.icon-increase > svg,
.icon-multiple-choice > svg,
.icon-info > svg,
.icon-help > svg,
.icon-answers > svg,
.icon-questions > svg,
.icon-fishing-boat > svg,
.icon-maintenance > svg,
.icon-popup > svg,
.icon-sign-out > svg,
.icon-top-menu > svg,
.icon-content > svg,
.icon-tiles > svg,
.icon-details > svg,
.icon-small-icons > svg,
.icon-large-icons > svg,
.icon-thumbnails > svg,
.icon-medium-icons > svg,
.icon-spreadsheet > svg,
.icon-nothing-found > svg,
.icon-delete > svg,
.icon-checkmark > svg,
.icon-phone > svg,
.icon-search > svg,
.icon-rename > svg,
.icon-edit-file > svg,
.icon-warning-shield > svg,
.icon-developer > svg,
.icon-undelete > svg,
.icon-book > svg,
.icon-load-balancer > svg,
.icon-ubuntu-2 > svg,
.icon-process-2 > svg,
.icon-card-exchange > svg,
.icon-minus-1-day > svg,
.icon-click---collect > svg,
.icon-minus-1-month > svg,
.icon-minus-1-hour > svg,
.icon-chat > svg,
.icon-buying > svg,
.icon-location > svg,
.icon-bank-cards > svg,
.icon-ask-question > svg,
.icon-attach > svg,
.icon-pdf > svg,
.icon-transaction > svg,
.icon-refund > svg,
.icon-online-money-transfer > svg,
.icon-pay-wall > svg,
.icon-no-cash > svg,
.icon-report-card > svg,
.icon-create-archive > svg,
.icon-save-archive > svg,
.icon-delete-archive > svg,
.icon-detective > svg,
.icon-event-accepted > svg,
.icon-realtime > svg,
.icon-stopwatch > svg,
.icon-paycheque > svg,
.icon-contact-details > svg,
.icon-rest-api > svg,
.icon-renew > svg,
.icon-octocat > svg,
.icon-communicate > svg,
.icon-data-sheet > svg,
.icon-recycling > svg,
.icon-hide > svg,
.icon-invisible > svg,
.icon-github > svg,
.icon-restart-2 > svg,
.icon-shutdown-2 > svg,
.icon-no-entry > svg,
.icon-plus > svg,
.icon-hibernate-2 > svg,
.icon-low-importance > svg,
.icon-cancel > svg,
.icon-unavailable > svg,
.icon-synchronize-2 > svg,
.icon-replace > svg,
.icon-recurring-appointment-exception-2 > svg,
.icon-ok > svg,
.icon-find-and-replace > svg,
.icon-junction > svg,
.icon-feed-in > svg,
.icon-sand-clock > svg,
.icon-delete-link > svg,
.icon-delete-ticket > svg,
.icon-cancel-subscription > svg,
.icon-news > svg,
.icon-sign-up > svg,
.icon-front-desk > svg,
.icon-system-report > svg,
.icon-call > svg,
.icon-wrong-pincode > svg,
.icon-one-free > svg,
.icon-loyalty-card > svg,
.icon-discount-2 > svg,
.icon-add-shopping-cart > svg,
.icon-train-ticket > svg,
.icon-low-price > svg,
.icon-price-comparison > svg,
.icon-sell > svg,
.icon-fund-accounting > svg,
.icon-sale > svg,
.icon-cash-in-hand > svg,
.icon-fraud > svg,
.icon-heart-monitor > svg,
.icon-ecg > svg,
.icon-sleep-mode-2 > svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-coupon,
.icon-home,
.icon-website,
.icon-dns,
.icon-whois,
.icon-environment,
.icon-virtual-machine,
.icon-payment-history,
.icon-card-payment,
.icon-transaction-list,
.icon-data-pending,
.icon-past,
.icon-database-administrator,
.icon-system-task,
.icon-dashboard,
.icon-speed,
.icon-broadcasting,
.icon-restore-window,
.icon-combo-chart,
.icon-investment,
.icon-line-chart,
.icon-doughnut-chart,
.icon-pie-chart,
.icon-area-chart,
.icon-ratings,
.icon-decline,
.icon-investment-portfolio,
.icon-heat-map,
.icon-futures,
.icon-sine,
.icon-hourglass,
.icon-root-server,
.icon-flow-chart,
.icon-genealogy,
.icon-server,
.icon-upload-to-the-cloud,
.icon-active-directory,
.icon-signal,
.icon-activity-feed,
.icon-news-feed,
.icon-twitter,
.icon-facebook,
.icon-linkedin,
.icon-google-plus,
.icon-tumblr,
.icon-software-installer,
.icon-download-from-the-cloud,
.icon-password,
.icon-no-network,
.icon-network-drive,
.icon-network,
.icon-wired-network,
.icon-data-backup,
.icon-data-protection,
.icon-secure-cloud,
.icon-database-view,
.icon-technical-support,
.icon-upload-to-ftp,
.icon-download-from-ftp,
.icon-download-from-cloud,
.icon-downloads-folder,
.icon-downloading-updates,
.icon-upload,
.icon-upload-to-cloud,
.icon-certificate,
.icon-term,
.icon-open-source,
.icon-trademark,
.icon-registered-trademark,
.icon-let-s-encrypt,
.icon-template,
.icon-diploma,
.icon-security-ssl,
.icon-firewall,
.icon-purchase-order,
.icon-invoice,
.icon-checkout,
.icon-price-tag,
.icon-shopping-cart,
.icon-bill,
.icon-billing,
.icon-cashflow,
.icon-fee,
.icon-budget,
.icon-debt,
.icon-credit-control,
.icon-add-user-male,
.icon-create-document,
.icon-add-list,
.icon-add-property,
.icon-denied,
.icon-delete-document,
.icon-unlock,
.icon-lock,
.icon-show-password,
.icon-password-reset,
.icon-forgot-password,
.icon-password-1,
.icon-id-not-verified,
.icon-pincode-keyboard,
.icon-pin-pad,
.icon-access,
.icon-lock-2,
.icon-id-verified,
.icon-registration,
.icon-edit-property,
.icon-edit-profile,
.icon-bulleted-list,
.icon-overview,
.icon-card-verification-value,
.icon-card-security-code,
.icon-clear-shopping-cart,
.icon-deposit,
.icon-withdrawal,
.icon-bank-card-missing,
.icon-profit,
.icon-general-ledger,
.icon-ledger,
.icon-procurement,
.icon-merchant-account,
.icon-paypal,
.icon-visa,
.icon-mastercard,
.icon-windows8,
.icon-table-properties,
.icon-no-credit-cards,
.icon-trash,
.icon-automation,
.icon-checked-user-male,
.icon-individual-server,
.icon-virtual,
.icon-repository,
.icon-cisco-router,
.icon-move-node-down,
.icon-move-node-up,
.icon-delete-node,
.icon-delete-subnode,
.icon-add-subnode,
.icon-edit-node,
.icon-mysql,
.icon-git,
.icon-ubuntu,
.icon-web-address,
.icon-admin,
.icon-administrative-tools,
.icon-services,
.icon-businessman,
.icon-find-user-female,
.icon-moderator,
.icon-query,
.icon-user-groups,
.icon-join,
.icon-checked-user-female,
.icon-update-user,
.icon-find-user-male,
.icon-collaborator-male,
.icon-exit,
.icon-export,
.icon-login,
.icon-enter,
.icon-workspace,
.icon-weixin,
.icon-validation,
.icon-signin,
.icon-stack,
.icon-network-attached-storage,
.icon-linux-server,
.icon-server-shutdown,
.icon-windows-client,
.icon-synchronize,
.icon-linux,
.icon-grid-3,
.icon-internet-folder,
.icon-code-file,
.icon-shield,
.icon-pos-terminal,
.icon-switchboard,
.icon-remote-working,
.icon-cloud-checked,
.icon-cloud,
.icon-sync,
.icon-computer,
.icon-hub,
.icon-router,
.icon-cloud-storage,
.icon-add-database,
.icon-delete-database,
.icon-monitor,
.icon-view-details,
.icon-timeline,
.icon-source-code,
.icon-insert-table,
.icon-delete-table,
.icon-replicate-rows,
.icon-e-mail,
.icon-add-tag,
.icon-credit-card,
.icon-receipt,
.icon-shopping-basket,
.icon-advertising,
.icon-form,
.icon-cash-register,
.icon-discount,
.icon-read-message,
.icon-tags,
.icon-new-message,
.icon-paid,
.icon-spam,
.icon-group-message,
.icon-web-shield,
.icon-download,
.icon-globe,
.icon-online-support,
.icon-link,
.icon-support,
.icon-skype,
.icon-user-location,
.icon-add-to-favorites,
.icon-login-as-user,
.icon-rss,
.icon-change-theme,
.icon-info-popup,
.icon-new-window,
.icon-api,
.icon-php,
.icon-list-2,
.icon-php-designer,
.icon-mark-as-favorite,
.icon-block,
.icon-html,
.icon-data-grid,
.icon-analyze,
.icon-read-online,
.icon-input,
.icon-user-engagement-female,
.icon-user-engagement-male,
.icon-more-details,
.icon-spam-can,
.icon-vmware,
.icon-import,
.icon-menu,
.icon-linking,
.icon-contact,
.icon-user,
.icon-settings,
.icon-incoming-data,
.icon-enter-key,
.icon-accounting,
.icon-true-false,
.icon-list,
.icon-checklist,
.icon-edit-row,
.icon-slave,
.icon-database,
.icon-user-manual,
.icon-exchange,
.icon-vpn,
.icon-ssd,
.icon-hdd,
.icon-memory-slot,
.icon-cd,
.icon-shutdown,
.icon-restart,
.icon-hibernate,
.icon-sleep-mode,
.icon-network-card,
.icon-processor,
.icon-x64,
.icon-x86,
.icon-keyboard,
.icon-device-manager,
.icon-workstation,
.icon-imac,
.icon-sorting,
.icon-questionnaire,
.icon-inspection,
.icon-feedback,
.icon-faq,
.icon-manager,
.icon-name-tag,
.icon-vip,
.icon-planner,
.icon-hierarchy,
.icon-approval,
.icon-flow,
.icon-expired,
.icon-todo-list,
.icon-process,
.icon-reset,
.icon-task-completed,
.icon-goal,
.icon-tasks,
.icon-recurring-appointment-exception,
.icon-high-priority,
.icon-low-priority,
.icon-to-do,
.icon-tree-structure,
.icon-bar-chart,
.icon-mind-map,
.icon-neutral-trading,
.icon-scatter-plot,
.icon-stocks,
.icon-copyright,
.icon-decision,
.icon-approve,
.icon-disapprove,
.icon-attitude,
.icon-bad-decision,
.icon-mind,
.icon-rules,
.icon-agreement,
.icon-sales-performance,
.icon-bounced-check,
.icon-brochure,
.icon-request-money,
.icon-initiate-money-transfer,
.icon-work,
.icon-idea,
.icon-statistics,
.icon-presentation,
.icon-mockup,
.icon-prototype,
.icon-customer-support,
.icon-wallet,
.icon-remove-tag,
.icon-pricing,
.icon-calendar,
.icon-event,
.icon-calendar-minus,
.icon-calendar-plus,
.icon-calendar-delete,
.icon-month-view,
.icon-week-view,
.icon-day-view,
.icon-timer,
.icon-time-span,
.icon-rollback,
.icon-future,
.icon-present,
.icon-available-updates,
.icon-keypad,
.icon-tune,
.icon-decrease,
.icon-increase,
.icon-multiple-choice,
.icon-info,
.icon-help,
.icon-answers,
.icon-questions,
.icon-fishing-boat,
.icon-maintenance,
.icon-popup,
.icon-sign-out,
.icon-top-menu,
.icon-content,
.icon-tiles,
.icon-details,
.icon-small-icons,
.icon-large-icons,
.icon-thumbnails,
.icon-medium-icons,
.icon-spreadsheet,
.icon-nothing-found,
.icon-delete,
.icon-checkmark,
.icon-phone,
.icon-search,
.icon-rename,
.icon-edit-file,
.icon-warning-shield,
.icon-developer,
.icon-undelete,
.icon-book,
.icon-load-balancer,
.icon-ubuntu-2,
.icon-process-2,
.icon-card-exchange,
.icon-minus-1-day,
.icon-click---collect,
.icon-minus-1-month,
.icon-minus-1-hour,
.icon-chat,
.icon-buying,
.icon-location,
.icon-bank-cards,
.icon-ask-question,
.icon-attach,
.icon-pdf,
.icon-transaction,
.icon-refund,
.icon-online-money-transfer,
.icon-pay-wall,
.icon-no-cash,
.icon-report-card,
.icon-create-archive,
.icon-save-archive,
.icon-delete-archive,
.icon-detective,
.icon-event-accepted,
.icon-realtime,
.icon-stopwatch,
.icon-paycheque,
.icon-contact-details,
.icon-rest-api,
.icon-renew,
.icon-octocat,
.icon-communicate,
.icon-data-sheet,
.icon-recycling,
.icon-hide,
.icon-invisible,
.icon-github,
.icon-restart-2,
.icon-shutdown-2,
.icon-no-entry,
.icon-plus,
.icon-hibernate-2,
.icon-low-importance,
.icon-cancel,
.icon-unavailable,
.icon-synchronize-2,
.icon-replace,
.icon-recurring-appointment-exception-2,
.icon-ok,
.icon-find-and-replace,
.icon-junction,
.icon-feed-in,
.icon-sand-clock,
.icon-delete-link,
.icon-delete-ticket,
.icon-cancel-subscription,
.icon-news,
.icon-sign-up,
.icon-front-desk,
.icon-system-report,
.icon-call,
.icon-wrong-pincode,
.icon-one-free,
.icon-loyalty-card,
.icon-discount-2,
.icon-add-shopping-cart,
.icon-train-ticket,
.icon-low-price,
.icon-price-comparison,
.icon-sell,
.icon-fund-accounting,
.icon-sale,
.icon-cash-in-hand,
.icon-fraud,
.icon-heart-monitor,
.icon-ecg,
.icon-sleep-mode-2 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-coupon > svg,
.icon-home > svg,
.icon-website > svg,
.icon-dns > svg,
.icon-whois > svg,
.icon-environment > svg,
.icon-virtual-machine > svg,
.icon-payment-history > svg,
.icon-card-payment > svg,
.icon-transaction-list > svg,
.icon-data-pending > svg,
.icon-past > svg,
.icon-database-administrator > svg,
.icon-system-task > svg,
.icon-dashboard > svg,
.icon-speed > svg,
.icon-broadcasting > svg,
.icon-restore-window > svg,
.icon-combo-chart > svg,
.icon-investment > svg,
.icon-line-chart > svg,
.icon-doughnut-chart > svg,
.icon-pie-chart > svg,
.icon-area-chart > svg,
.icon-ratings > svg,
.icon-decline > svg,
.icon-investment-portfolio > svg,
.icon-heat-map > svg,
.icon-futures > svg,
.icon-sine > svg,
.icon-hourglass > svg,
.icon-root-server > svg,
.icon-flow-chart > svg,
.icon-genealogy > svg,
.icon-server > svg,
.icon-upload-to-the-cloud > svg,
.icon-active-directory > svg,
.icon-signal > svg,
.icon-activity-feed > svg,
.icon-news-feed > svg,
.icon-twitter > svg,
.icon-facebook > svg,
.icon-linkedin > svg,
.icon-google-plus > svg,
.icon-tumblr > svg,
.icon-software-installer > svg,
.icon-download-from-the-cloud > svg,
.icon-password > svg,
.icon-no-network > svg,
.icon-network-drive > svg,
.icon-network > svg,
.icon-wired-network > svg,
.icon-data-backup > svg,
.icon-data-protection > svg,
.icon-secure-cloud > svg,
.icon-database-view > svg,
.icon-technical-support > svg,
.icon-upload-to-ftp > svg,
.icon-download-from-ftp > svg,
.icon-download-from-cloud > svg,
.icon-downloads-folder > svg,
.icon-downloading-updates > svg,
.icon-upload > svg,
.icon-upload-to-cloud > svg,
.icon-certificate > svg,
.icon-term > svg,
.icon-open-source > svg,
.icon-trademark > svg,
.icon-registered-trademark > svg,
.icon-let-s-encrypt > svg,
.icon-template > svg,
.icon-diploma > svg,
.icon-security-ssl > svg,
.icon-firewall > svg,
.icon-purchase-order > svg,
.icon-invoice > svg,
.icon-checkout > svg,
.icon-price-tag > svg,
.icon-shopping-cart > svg,
.icon-bill > svg,
.icon-billing > svg,
.icon-cashflow > svg,
.icon-fee > svg,
.icon-budget > svg,
.icon-debt > svg,
.icon-credit-control > svg,
.icon-add-user-male > svg,
.icon-create-document > svg,
.icon-add-list > svg,
.icon-add-property > svg,
.icon-denied > svg,
.icon-delete-document > svg,
.icon-unlock > svg,
.icon-lock > svg,
.icon-show-password > svg,
.icon-password-reset > svg,
.icon-forgot-password > svg,
.icon-password-1 > svg,
.icon-id-not-verified > svg,
.icon-pincode-keyboard > svg,
.icon-pin-pad > svg,
.icon-access > svg,
.icon-lock-2 > svg,
.icon-id-verified > svg,
.icon-registration > svg,
.icon-edit-property > svg,
.icon-edit-profile > svg,
.icon-bulleted-list > svg,
.icon-overview > svg,
.icon-card-verification-value > svg,
.icon-card-security-code > svg,
.icon-clear-shopping-cart > svg,
.icon-deposit > svg,
.icon-withdrawal > svg,
.icon-bank-card-missing > svg,
.icon-profit > svg,
.icon-general-ledger > svg,
.icon-ledger > svg,
.icon-procurement > svg,
.icon-merchant-account > svg,
.icon-paypal > svg,
.icon-visa > svg,
.icon-mastercard > svg,
.icon-windows8 > svg,
.icon-table-properties > svg,
.icon-no-credit-cards > svg,
.icon-trash > svg,
.icon-automation > svg,
.icon-checked-user-male > svg,
.icon-individual-server > svg,
.icon-virtual > svg,
.icon-repository > svg,
.icon-cisco-router > svg,
.icon-move-node-down > svg,
.icon-move-node-up > svg,
.icon-delete-node > svg,
.icon-delete-subnode > svg,
.icon-add-subnode > svg,
.icon-edit-node > svg,
.icon-mysql > svg,
.icon-git > svg,
.icon-ubuntu > svg,
.icon-web-address > svg,
.icon-admin > svg,
.icon-administrative-tools > svg,
.icon-services > svg,
.icon-businessman > svg,
.icon-find-user-female > svg,
.icon-moderator > svg,
.icon-query > svg,
.icon-user-groups > svg,
.icon-join > svg,
.icon-checked-user-female > svg,
.icon-update-user > svg,
.icon-find-user-male > svg,
.icon-collaborator-male > svg,
.icon-exit > svg,
.icon-export > svg,
.icon-login > svg,
.icon-enter > svg,
.icon-workspace > svg,
.icon-weixin > svg,
.icon-validation > svg,
.icon-signin > svg,
.icon-stack > svg,
.icon-network-attached-storage > svg,
.icon-linux-server > svg,
.icon-server-shutdown > svg,
.icon-windows-client > svg,
.icon-synchronize > svg,
.icon-linux > svg,
.icon-grid-3 > svg,
.icon-internet-folder > svg,
.icon-code-file > svg,
.icon-shield > svg,
.icon-pos-terminal > svg,
.icon-switchboard > svg,
.icon-remote-working > svg,
.icon-cloud-checked > svg,
.icon-cloud > svg,
.icon-sync > svg,
.icon-computer > svg,
.icon-hub > svg,
.icon-router > svg,
.icon-cloud-storage > svg,
.icon-add-database > svg,
.icon-delete-database > svg,
.icon-monitor > svg,
.icon-view-details > svg,
.icon-timeline > svg,
.icon-source-code > svg,
.icon-insert-table > svg,
.icon-delete-table > svg,
.icon-replicate-rows > svg,
.icon-e-mail > svg,
.icon-add-tag > svg,
.icon-credit-card > svg,
.icon-receipt > svg,
.icon-shopping-basket > svg,
.icon-advertising > svg,
.icon-form > svg,
.icon-cash-register > svg,
.icon-discount > svg,
.icon-read-message > svg,
.icon-tags > svg,
.icon-new-message > svg,
.icon-paid > svg,
.icon-spam > svg,
.icon-group-message > svg,
.icon-web-shield > svg,
.icon-download > svg,
.icon-globe > svg,
.icon-online-support > svg,
.icon-link > svg,
.icon-support > svg,
.icon-skype > svg,
.icon-user-location > svg,
.icon-add-to-favorites > svg,
.icon-login-as-user > svg,
.icon-rss > svg,
.icon-change-theme > svg,
.icon-info-popup > svg,
.icon-new-window > svg,
.icon-api > svg,
.icon-php > svg,
.icon-list-2 > svg,
.icon-php-designer > svg,
.icon-mark-as-favorite > svg,
.icon-block > svg,
.icon-html > svg,
.icon-data-grid > svg,
.icon-analyze > svg,
.icon-read-online > svg,
.icon-input > svg,
.icon-user-engagement-female > svg,
.icon-user-engagement-male > svg,
.icon-more-details > svg,
.icon-spam-can > svg,
.icon-vmware > svg,
.icon-import > svg,
.icon-menu > svg,
.icon-linking > svg,
.icon-contact > svg,
.icon-user > svg,
.icon-settings > svg,
.icon-incoming-data > svg,
.icon-enter-key > svg,
.icon-accounting > svg,
.icon-true-false > svg,
.icon-list > svg,
.icon-checklist > svg,
.icon-edit-row > svg,
.icon-slave > svg,
.icon-database > svg,
.icon-user-manual > svg,
.icon-exchange > svg,
.icon-vpn > svg,
.icon-ssd > svg,
.icon-hdd > svg,
.icon-memory-slot > svg,
.icon-cd > svg,
.icon-shutdown > svg,
.icon-restart > svg,
.icon-hibernate > svg,
.icon-sleep-mode > svg,
.icon-network-card > svg,
.icon-processor > svg,
.icon-x64 > svg,
.icon-x86 > svg,
.icon-keyboard > svg,
.icon-device-manager > svg,
.icon-workstation > svg,
.icon-imac > svg,
.icon-sorting > svg,
.icon-questionnaire > svg,
.icon-inspection > svg,
.icon-feedback > svg,
.icon-faq > svg,
.icon-manager > svg,
.icon-name-tag > svg,
.icon-vip > svg,
.icon-planner > svg,
.icon-hierarchy > svg,
.icon-approval > svg,
.icon-flow > svg,
.icon-expired > svg,
.icon-todo-list > svg,
.icon-process > svg,
.icon-reset > svg,
.icon-task-completed > svg,
.icon-goal > svg,
.icon-tasks > svg,
.icon-recurring-appointment-exception > svg,
.icon-high-priority > svg,
.icon-low-priority > svg,
.icon-to-do > svg,
.icon-tree-structure > svg,
.icon-bar-chart > svg,
.icon-mind-map > svg,
.icon-neutral-trading > svg,
.icon-scatter-plot > svg,
.icon-stocks > svg,
.icon-copyright > svg,
.icon-decision > svg,
.icon-approve > svg,
.icon-disapprove > svg,
.icon-attitude > svg,
.icon-bad-decision > svg,
.icon-mind > svg,
.icon-rules > svg,
.icon-agreement > svg,
.icon-sales-performance > svg,
.icon-bounced-check > svg,
.icon-brochure > svg,
.icon-request-money > svg,
.icon-initiate-money-transfer > svg,
.icon-work > svg,
.icon-idea > svg,
.icon-statistics > svg,
.icon-presentation > svg,
.icon-mockup > svg,
.icon-prototype > svg,
.icon-customer-support > svg,
.icon-wallet > svg,
.icon-remove-tag > svg,
.icon-pricing > svg,
.icon-calendar > svg,
.icon-event > svg,
.icon-calendar-minus > svg,
.icon-calendar-plus > svg,
.icon-calendar-delete > svg,
.icon-month-view > svg,
.icon-week-view > svg,
.icon-day-view > svg,
.icon-timer > svg,
.icon-time-span > svg,
.icon-rollback > svg,
.icon-future > svg,
.icon-present > svg,
.icon-available-updates > svg,
.icon-keypad > svg,
.icon-tune > svg,
.icon-decrease > svg,
.icon-increase > svg,
.icon-multiple-choice > svg,
.icon-info > svg,
.icon-help > svg,
.icon-answers > svg,
.icon-questions > svg,
.icon-fishing-boat > svg,
.icon-maintenance > svg,
.icon-popup > svg,
.icon-sign-out > svg,
.icon-top-menu > svg,
.icon-content > svg,
.icon-tiles > svg,
.icon-details > svg,
.icon-small-icons > svg,
.icon-large-icons > svg,
.icon-thumbnails > svg,
.icon-medium-icons > svg,
.icon-spreadsheet > svg,
.icon-nothing-found > svg,
.icon-delete > svg,
.icon-checkmark > svg,
.icon-phone > svg,
.icon-search > svg,
.icon-rename > svg,
.icon-edit-file > svg,
.icon-warning-shield > svg,
.icon-developer > svg,
.icon-undelete > svg,
.icon-book > svg,
.icon-load-balancer > svg,
.icon-ubuntu-2 > svg,
.icon-process-2 > svg,
.icon-card-exchange > svg,
.icon-minus-1-day > svg,
.icon-click---collect > svg,
.icon-minus-1-month > svg,
.icon-minus-1-hour > svg,
.icon-chat > svg,
.icon-buying > svg,
.icon-location > svg,
.icon-bank-cards > svg,
.icon-ask-question > svg,
.icon-attach > svg,
.icon-pdf > svg,
.icon-transaction > svg,
.icon-refund > svg,
.icon-online-money-transfer > svg,
.icon-pay-wall > svg,
.icon-no-cash > svg,
.icon-report-card > svg,
.icon-create-archive > svg,
.icon-save-archive > svg,
.icon-delete-archive > svg,
.icon-detective > svg,
.icon-event-accepted > svg,
.icon-realtime > svg,
.icon-stopwatch > svg,
.icon-paycheque > svg,
.icon-contact-details > svg,
.icon-rest-api > svg,
.icon-renew > svg,
.icon-octocat > svg,
.icon-communicate > svg,
.icon-data-sheet > svg,
.icon-recycling > svg,
.icon-hide > svg,
.icon-invisible > svg,
.icon-github > svg,
.icon-restart-2 > svg,
.icon-shutdown-2 > svg,
.icon-no-entry > svg,
.icon-plus > svg,
.icon-hibernate-2 > svg,
.icon-low-importance > svg,
.icon-cancel > svg,
.icon-unavailable > svg,
.icon-synchronize-2 > svg,
.icon-replace > svg,
.icon-recurring-appointment-exception-2 > svg,
.icon-ok > svg,
.icon-find-and-replace > svg,
.icon-junction > svg,
.icon-feed-in > svg,
.icon-sand-clock > svg,
.icon-delete-link > svg,
.icon-delete-ticket > svg,
.icon-cancel-subscription > svg,
.icon-news > svg,
.icon-sign-up > svg,
.icon-front-desk > svg,
.icon-system-report > svg,
.icon-call > svg,
.icon-wrong-pincode > svg,
.icon-one-free > svg,
.icon-loyalty-card > svg,
.icon-discount-2 > svg,
.icon-add-shopping-cart > svg,
.icon-train-ticket > svg,
.icon-low-price > svg,
.icon-price-comparison > svg,
.icon-sell > svg,
.icon-fund-accounting > svg,
.icon-sale > svg,
.icon-cash-in-hand > svg,
.icon-fraud > svg,
.icon-heart-monitor > svg,
.icon-ecg > svg,
.icon-sleep-mode-2 > img {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: currentColor;
    vertical-align: -0.1em;
}

