name: Playwright Tests
on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]
    workflow_dispatch:
concurrency:
    group: ci-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true
env:
    PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/.cache/ms-playwright
jobs:
    test:
        runs-on: ${{ matrix.os }}
        timeout-minutes: 60
        strategy:
            matrix:
                os: [ubuntu-latest]
                node_version: [22]
                include:
                    - os: macos-latest
                      node_version: 22
                    - os: windows-latest
                      node_version: 22
            fail-fast: false

        steps:
            - uses: actions/checkout@v6

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Set node version to ${{ inputs.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ inputs.node-version }}

            - name: Install
              run: npm install -g yarn && yarn

            - name: Install Playwright Dependencies
              run: |
                  yarn playwright install --with-deps
                  yarn playwright install chromium --with-deps

            - name: Test
              run: pnpm playwright test
